{template common/header}
<link rel="stylesheet" type="text/css"  href="source/plugin/xiaomy_buyvipgroup/css/buyvipgroup.css" />
{eval  require_once DISCUZ_ROOT.'/source/plugin/xiaomy_buyvipgroup/field.cfg.php'; }
<div id="pt" class="bm cl" >
	<div class="z">
			<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]{lang xiaomy_buyvipgroup:bcstr03}</a>
			<em>&rsaquo;</em><a href="plugin.php?id=xiaomy_buyvipgroup:buyvipgroup">{lang xiaomy_buyvipgroup:bcstr03}</a>
	</div>
</div>