body {
	margin: 0;
	padding: 0;
	font-family: microsoft yahei, Verdana, Geneva, sans-serif;
	color: #555;
	font-size: 14px;
}
div, ul, li, span, em, i, input, img, p, h1, h2, h3, h4, a {
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
}
/*sr_header*/
.sr_header {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.sr_c {
	width: 960px;
	height: auto;
	margin: 0 auto;
	position: relative;
	z-index: 5;
}
.sr_rb {
	width: 195px;
	float: right;
	position: relative;
	font-size: 14px;
}
.sr_rb .sr_morebox {
	height: 232px;
	overflow: hidden;
	background: #f0f0f0;
	padding: 9px;
	text-align: center;
}
.sr_rb .sr_mp {
	height: 21px;
	line-height: 21px;
	margin: 0 0 9px;
	color: #666;
	text-align: center;
}
.sr_rb .sr_mp span {
	padding: 0 6px;
	background: #FF5A00;
	color: #fff;
	margin: 0 3px;
	border-radius: 9px;
}
.sr_rb .sr_mpcode .mp_tit {
	background: #e0e0e0;
	padding: 2px 0;
}
.sr_rb .sr_mpcode .mp_code {
	width: 177px;
	height: 177px;
	overflow: hidden;
}
.sr_rb .sr_mpcode .mp_code img {
	width: 177px;
	height: 177px;
	display: block;
}
.sr_rb .sr_mpcode .mp_nocode img {
	width: 177px;
	height: 202px;
	display: block;
}
.sr_nav {
	z-index: 9999;
}
.sr_nav .join_c {
	text-align: center;
	font-size: 26px;
}
.sr_nav .join_c a {
	width: 195px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	text-decoration: none;
	display: block;
	background: #ff5a00;
}
.sr_nav .join_c a:hover {
	width: 195px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	text-decoration: none;
	display: block;
	background: #333;
}
.sr_nav .join_s {
	text-align: center;
	font-size: 26px;
	cursor: pointer;
}
.sr_nav .join_s a {
	width: 195px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	text-decoration: none;
	display: block;
	background: #007eff;
	cursor: pointer;
}
.sr_nav .join_s a:hover {
	width: 195px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	text-decoration: none;
	display: block;
	background: #333;
	cursor: pointer;
}
.th {
	visibility: hidden;
}
.sr_nav .nav_list {
	width: 195px;
	background: #fff;
	position: relative;
	z-index: 9999;
}
.sr_nav .nav_list ul {
}
.sr_nav .nav_list ul li {
	vertical-align: bottom;
	border-bottom: 1px solid #f0f0f0;
	overflow: hidden;
}
.sr_nav .nav_list ul li a {
	width: 175px;
	height: 30.3px;
	line-height: 30.3px;
	padding: 0 10px;
	display: block;
	text-decoration: none;
	cursor: pointer;
	overflow: hidden;
}
.sr_nav .nav_list ul li a:hover {
	width: 173px;
	height: 30.3px;
	line-height: 30.3px;
	padding: 0 10px;
	display: block;
	border-right: 2px solid #ff6600;
	text-decoration: none;
	cursor: pointer;
	background: #f0f0f0;
	overflow: hidden;
}
.sr_nav .nav_list ul li .ar {
	color: #cfcfcf;
}
.sr_brand {
	background: #f5f5f5;
	padding: 10px 0 11px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.sr_brand .brand_box p img {
	width: 140px;
	height: 73px;
	border: 1px solid #eee;
}
.sr_wrapper {
	width: 960px;
	height: auto;
	overflow: hidden;
	margin: 15px auto 0;
}
.sr_wrapper .sr_re {
	background: #fff;
}
.sr_wrapper .sr_re .toptit {
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #f0f0f0;
	position: relative;
	padding-bottom: 5px;
}
.sr_wrapper .sr_re .re_tit {
	height: 25px;
	line-height: 25px;
	float: left;
	font-size: 16px;
	font-weight: bold;
	color: #333;
	border-bottom: 1px solid #ff4400;
	overflow: hidden;
	padding: 5px 15px 0 0;
}
.sr_wrapper .sr_re .re_tit i.icon {
	width: 22px;
	height: 15px;
	background: url(images/icon.png) no-repeat;
	float: left;
	margin: 6px 9px 0 0;
}
.sr_wrapper .sr_re .dh a {
	font-size: 12px;
	color: #999;
	text-decoration: none;
}
.sr_wrapper .sr_re .re_box {
	padding: 16px 0 16px 25px;
	border: 1px solid #f0f0f0;
	overflow: hidden;
}
.sr_wrapper .sr_re .re_box ul li {
	width: 213px;
	margin-right: 20px;
	float: left;
}
.sr_wrapper .sr_re .re_box ul li a {
	display: block;
	text-decoration: none;
	color: #666;
}
.sr_wrapper .sr_re .re_box ul li .c_tit {
	margin-top: 9px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.sr_wrapper .sr_re .re_box ul li .c_tel {
	font-size: 12px;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	padding: 5px 0;
	margin: 5px 0;
}
.sr_wrapper .sr_re .re_box ul li .c_my {
	color: #999;
	font-size: 12px;
}
.sr_wrapper .sr_re .re_box ul li .c_my .t {
	float: left;
}
.star {
	float: left;
}
.staroff {
	width: 85px;
	height: 15px;
	background: url(images/star_little.png) no-repeat 0px -15px;
	display: block;
	overflow: hidden;
}
.staron {
	width: 85px;
	height: 15px;
	background: url(images/star_little.png) no-repeat 0 0;
	display: block;
	overflow: hidden;
}
.sr_area {
	background: #fff;
}
.sr_area .areabox {
	border: 1px solid #f0f0f0;
	overflow: hidden;
	padding: 9px 15px;
}
.sr_area .areabox .dq {
	float: left;
	padding-right: 10px;
	line-height: 25px;
	color: #333;
}
.hy_box {
	padding: 9px 15px;
	background: #fcfcfc;
	overflow: hidden;
	border: 1px solid #f0f0f0;
	border-bottom: 0px;
	margin-top: 15px;
}
.hy_box .hy {
	float: left;
	padding-right: 10px;
	line-height: 25px;
	color: #333;
}
.hy_box .lb ul li {
	line-height: 25px;
	float: left;
	margin-left: 2px;
	margin-right: 2px;
	display: inline;
	white-space: nowrap;
}
.hy_box .lb ul li.cateon a {
	display: block;
	padding: 2px 7px 0px;
	background: #ff6600;
	color: #fff;
}
.hy_box .lb ul li {
	position: relative;
}
.hy_box .lb ul li .cl_box {
	position: absolute;
	top: 27px;
	left: 0px;
}
.hy_box .lb a {
	display: block;
	padding: 2px 7px 0px;
}
.hy_box .lb {
	width: 875px;
	margin: 0px !important;
}
.hy_box .lb ul.subcate {
	border-top: 1px dotted #e0e0e0;
	clear: both;
	overflow: hidden;
	padding: 6px 0 0;
}
.sr_area .areabox .dq_list {
	width: 875px;
}
.sr_area .areabox .dq_list .dq_cate {
	border: 1px solid #e0e0e0;
	padding: 9px;
	background: #f5f5f5;
	overflow: hidden;
	margin-top: 9px;
}
.sr_area .areabox .dq_list ul li {
	line-height: 25px;
	float: left;
	margin-left: 2px;
	margin-right: 2px;
	display: inline;
	white-space: nowrap;
}
.sr_area .areabox .dq_list .dsubcate ul.dshow1 {
	border: none;
	clear: both;
	overflow: hidden;
	padding-bottom: 6px;
	margin-bottom: 6px;
}
.sr_area .areabox .dq_list .dsubcate #dshow1 {
	border: none;
	clear: both;
	overflow: hidden;
}
.sr_area .areabox .dq_list .dsubcate #dshow2 {
	border-top: 1px dotted #e0e0e0;
	clear: both;
	overflow: hidden;
	padding: 6px 0 0;
}
.sr_area .areabox .dq_list .dsubcate #dshow3 {
	border-top: 1px dotted #e0e0e0;
	clear: both;
	overflow: hidden;
	padding: 6px 0 0;
}
.sr_area .areabox .dq_list .dsubcate #dshow4 {
	border-top: 1px dotted #e0e0e0;
	clear: both;
	overflow: hidden;
	padding: 6px 0 0;
}
.sr_area .areabox .dq_list .dsubcate #dshow5 {
	border-top: 1px dotted #e0e0e0;
	clear: both;
	overflow: hidden;
	padding: 6px 0 0;
}
.sr_area .areabox .dq_list a {
	display: block;
	padding: 2px 7px 0px;
}
.sr_area .areabox .dq_list a:hover {
	display: block;
	padding: 2px 7px 0px;
}
.sr_area .areabox .dq_list ul li.cateon a {
	display: block;
	padding: 2px 7px 0px;
	background: #ff6600;
	color: #fff;
}
.sr_search {
	padding: 9px 15px;
	background: #f5f5f5;
}
.sr_search .searchbox {
	position: relative;
	overflow: hidden;
}
.sr_search .searchbox .ss {
	width: 355px;
	border: 1px solid #ddd;
	height: 26px;
	padding: 0 9px 0 45px;
	font-family: microsoft yahei, Verdana, Geneva, sans-serif;
	line-height: 26px;
}
.sr_search .searchbox .btn {
	padding: 0 15px;
	height: 28px;
	line-height: 28px;
	background: #999;
	color: #fff;
	font-weight: bold;
	position: relative;
	top: 1px;
	margin-left: -4px;
}
.sr_search .searchbox .search_icon {
	width: 15px;
	height: 15px;
	position: absolute;
	background: url(images/icon.png) no-repeat 0 -45px;
	top: 8px;
	left: 56px;
	border-right: 1px solid #f0f0f0;
	padding-right: 9px;
}
.sr_search .searchbox .st {
	padding-top: 6px;
	width: 380px;
}
.sr_search .searchbox .st a {
	color: #666;
	text-decoration: none;
	margin-right: 6px;
}
.sr_search .searchbox .st a:hover {
	color: #ff6600;
	text-decoration: none;
	margin-right: 6px;
}
.sr_main {
	margin-top: 15px;
}
.sr_main .sr_content {
	width: 730px;
	height: auto;
	float: left;
	margin-top: 15px;
}
.sr_main .sr_topbox {
	overflow: hidden;
	position: relative;
}
.sr_main .mc_tit {
	height: 25px;
	line-height: 25px;
	position: relative;
	padding: 5px 15px;
	border: 1px solid #f0f0f0;
	background: #fff;
}
.sr_main .catetype {
	height: 25px;
	line-height: 25px;
	position: absolute;
	top: 1px;
	right: 125px;
}
.sr_main .catetype a {
	padding: 5px 15px;
	color: #333;
	text-decoration: none;
	display: block;
	float: left;
}
.sr_main .catetype a:hover {
	padding: 5px 15px;
	background: #bbb;
	color: #fff;
	text-decoration: none;
	display: block;
}
.sr_main .catetype .ordertimeon {
	padding: 5px 15px;
	background: #ff4400;
	color: #fff;
	text-decoration: none;
	display: block;
}
.sr_main .catetype .orderviewon {
	padding: 5px 15px;
	background: #ff4400;
	color: #fff;
	text-decoration: none;
	display: block;
}
.sr_main .catetype .orderrecommendon {
	padding: 5px 15px;
	background: #ff4400;
	color: #fff;
	text-decoration: none;
	display: block;
}
.sr_main .catetype .orderdiscounton {
	padding: 5px 15px;
	background: #ff4400;
	color: #fff;
	text-decoration: none;
	display: block;
}
.sr_main .catetype .orderclickon {
	padding: 5px 15px;
	background: #ff4400;
	color: #fff;
	text-decoration: none;
	display: block;
}
.sr_main .catetype .orderexponenton {
	padding: 5px 15px;
	background: #ff4400;
	color: #fff;
	text-decoration: none;
	display: block;
}
.sr_main .mc_tit h2 {
	height: 25px;
	line-height: 25px;
	float: left;
	font-size: 16px;
	font-weight: bold;
	color: #333;
	border-bottom: 1px solid #ff4400;
	overflow: hidden;
	padding-bottom: 5px;
	position: relative;
	z-index: 99;
}
.sr_main .mc_tit i.icon {
	width: 22px;
	height: 15px;
	background: url(images/icon.png) no-repeat 0 -20px;
	float: left;
	margin: 5px 9px 0 0;
}
.sr_content ul li {
}
.sr_content ul li {
}
.sr_content .box_b ul li {
	width: 345px;
	height: auto;
	float: left;
	margin: 0 15px 15px 0;
	border: 1px solid #e0e0e0;
	position: relative;
	background: #fff;
}
.sr_content .box_b ul.dtop li em {
	position: absolute;
	width: 45px;
	display: block;
	background: url(images/dtop.png) no-repeat !important;
	height: 35px;
	top: 0px;
	right: 9px;
	z-index: 10;
}
.sr_content .box_b ul.drec li em {
	position: absolute;
	width: 45px;
	display: block;
	background: url(images/drec.png) no-repeat !important;
	height: 35px;
	top: 0px;
	right: 9px;
	z-index: 10;
}
.sr_content .box_m ul li {
	width: 226px;
	height: auto;
	float: left;
	margin: 15px 15px 0 0;
	border: 1px solid #e0e0e0;
	position: relative;
}
.sr_content .box_m ul.dtop li em {
	position: absolute;
	width: 45px;
	display: block;
	background: url(images/dtop.png) no-repeat !important;
	height: 35px;
	top: 0px;
	right: 9px;
	z-index: 10;
}
.sr_content .box_m ul.drec li em {
	position: absolute;
	width: 45px;
	display: block;
	background: url(images/drec.png) no-repeat !important;
	height: 35px;
	top: 0px;
	right: 9px;
	z-index: 10;
}
.sr_content .box_l ul li {
	height: auto;
	padding: 25px 9px;
	border-bottom: 1px dashed #e0e0e0;
	overflow: hidden;
	position: relative;
}
.sr_content .box_l ul.dtop li em {
	position: absolute;
	width: 45px;
	display: block;
	background: url(images/dtop.png) no-repeat !important;
	height: 35px;
	top: 0px;
	right: 9px;
	z-index: 10;
}
.sr_content .box_l ul.drec li em {
	position: absolute;
	width: 45px;
	display: block;
	background: url(images/drec.png) no-repeat !important;
	height: 35px;
	top: 0px;
	right: 9px;
	z-index: 10;
}
.sr_content .box_b ul li .tpic {
	width: 345px;
	height: 225px;
	overflow: hidden;
}
.sr_content .box_b ul li .tpic img{
	width: 345px;
	height: 225px;
}
.sr_content .box_m ul li .tpic_m {
	width: 226px;
	height: 206px;
	overflow: hidden;
}
.sr_content .box_m ul li .tpic_m img{
	width: 226px;
	height: 206px;
}
.sr_content .box_l ul li .tpic_m {
	width: 150px;
	height: 125px;
	float: left;
	overflow: hidden;
}
.sr_content .box_l ul li .tpic_m img {
	width: 150px;
	height: 125px;
}
.sr_content .box_b ul li.bs {
	color: #333;
	text-decoration: none;
	display: block;
	border: 1px solid #e0e0e0;
	border-bottom: 1px solid #ff6600;
	overflow: hidden;
	cursor: pointer;
}
.sr_content .box_m ul li.bs {
	color: #333;
	text-decoration: none;
	border: 1px solid #e0e0e0;
	border-bottom: 1px solid #ff6600;
	overflow: hidden;
	cursor: pointer;
}
.sr_content .box_l ul li.bs {
	color: #333;
	text-decoration: none;
	display: block;
	border: none;
	border-bottom: 1px dashed #ddd;
	overflow: hidden;
	cursor: pointer;
	background: #f9f9f9;
}
.sr_content ul li .c_name {
	padding: 9px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	border-bottom: 1px solid #f5f5f5;
}
.sr_content ul li strong {
	color: #ff6600;
}
.sr_content .box_l ul li .inc {
	width: 76%;
	margin-left: 15px;
}
.sr_content .box_l ul li {
	width: 695px;
	position: relative;
}
.sr_content .box_l ul li .c_name {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 9px;
	margin-bottom: 9px;
	border-bottom: 1px solid #f5f5f5;
}
.sr_content .box_l ul li .df {
	width: 75px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	position: absolute;
	top: 36%;
	right: 15px;
	color: #999;
	font-size: 12px;
}
.sr_content .box_l ul li .df strong {
	color: #ff6600;
	font-weight: bold;
	font-size: 20px;
}
.sr_content .box_l ul li .brandaddress {
	width: 425px;
}
.sr_content .box_l ul li .brandaddress, .brandtel {
	margin: 6px 0;
}
.sr_content ul li .infor {
	padding: 9px;
	overflow: hidden;
}
.sr_content .box_l ul li .infor {
	padding: 9px 0 0;
	overflow: hidden;
	border-top: 1px dashed #f0f0f0;
}
.sr_content ul li .infor .star {
	position: relative;
	top: 2px;
}
.sr_content .bigPage {
	text-align: center;
	margin-top: 15px;
}
.sr_content input.isTxtBig {
	width: 35px;
	height: 32px;
	line-height: 35px;
	border: 1px solid #e0e0e0;
	text-align: center;
}
.sr_content .bigPage label {
	position: relative;
	top: -2px;
}
.sr_content .bigPage a.pageNext {
	width: 35px;
	height: 35px;
	line-height: 35px;
	background: #fff url(images/pagenext.png) 13px 9px no-repeat;
	display: inline-block;
	border: 1px solid #e0e0e0;
}
.sr_content .bigPage a:hover.pageNext {
	width: 37px;
	height: 37px;
	line-height: 37px;
	background: #ff6600 url(images/pagenext.png) 14px -24px no-repeat;
	display: inline-block;
}
.sr_content .bigPage a.pagePrev {
	width: 35px;
	height: 35px;
	line-height: 35px;
	background: #fff url(images/pageprev.png) 13px -24px no-repeat;
	display: inline-block;
	border: 1px solid #e0e0e0;
}
.sr_content .bigPage a:hover.pagePrev {
	width: 37px;
	height: 37px;
	line-height: 37px;
	background: #ff6600 url(images/pageprev.png) 13px 11px no-repeat;
	display: inline-block;
}
.sr_content .bigPage a {
	width: 35px;
	height: 35px;
	line-height: 35px;
	display: inline-block;
	background: #fff;
	text-align: center;
	margin: 0 5px;
	color: #333;
	border: 1px solid #e0e0e0;
	font-weight: bold;
}
.sr_content .bigPage a:hover {
	width: 37px;
	height: 37px;
	line-height: 37px;
	display: inline-block;
	background: #ff6600;
	text-align: center;
	margin: 0 5px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	border: none;
}
.sr_content .bigPage a.selected {
	width: 37px;
	height: 37px;
	line-height: 37px;
	display: inline-block;
	background: #f0f0f0;
	text-align: center;
	margin: 0 5px;
	text-decoration: none;
	border: none;
	background: #ff6600;
	color: #fff;
}
.sr_sidebar {
	width: 230px;
	float: right;
	overflow: hidden;
	margin-top: 15px;
	background: #fff;
}
.sr_sidebar .cbl_box {
	border: 1px solid #e0e0e0;
	border-top: 2px solid #ff6600;
	padding: 9px;
}
.sr_sidebar .cbl_box h2 {
	font-size: 14px;
}
.sr_sidebar .cbl_box .hot_c {
	margin-top: 9px;
}
.sr_sidebar .cbl_box .hot_c ul li {
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 9px;
	margin-bottom: 9px;
}
.sr_sidebar .cbl_box .hot_c ul li .in_box {
	width: 75%;
}
.sr_sidebar .cbl_box .hot_c ul li .tp {
	width: 210px;
	height: 135px;
}
.sr_sidebar .cbl_box .hot_c ul li .tp img {
	width: 210px;
	height: 135px;
}
.sr_sidebar .cbl_box .hot_c ul li a {
	color: #666;
	text-decoration: none;
	font-size: 12px;
	display: block;
}
.sr_sidebar .cbl_box .hot_c .h_tit {
	margin: 6px 0 2px;
}
.sr_sidebar .cbl_box .hot_c .infor {
	overflow: hidden;
	margin-top: 9px;
}
.sr_sidebar .cbl_box .hot_c .infor strong {
	font-size: 14px;
	color: #ff6600;
}
.sr_sidebar .cbl_box .random {
	overflow: hidden;
	margin-top: 9px;
}
.sr_sidebar .cbl_box .random ul li {
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 9px;
	margin-bottom: 9px;
	overflow: hidden;
}
.sr_sidebar .cbl_box .random ul li .left_img {
	width: 90px;
	height: 60px;
}
.sr_sidebar .cbl_box .random ul li .left_img img {
	width: 90px;
	height: 60px;
}
.sr_sidebar .cbl_box .random ul li a {
	color: #666;
	text-decoration: none;
	font-size: 12px;
}
.sr_sidebar .cbl_box .random ul li .right_infor {
	width: 105px;
}
.sr_sidebar .cbl_box .random ul li .right_infor .rr_tit {
	height: 35px;
	overflow: hidden;
}
.sr_sidebar .cbl_box .random ul li .right_infor .star {
	margin-top: 9px;
}
.sr_sidebar .cbl_box .service {
	margin-top: 0px;
	color: #666;
}
.sr_sidebar .cbl_box .service p {
	margin-top: 5px;
}
.sr_sidebar .cbl_box .service p strong {
	font-size: 16px;
	color: #ff6600;
}
.l {
	float: left;
}
.r {
	float: right;
}
.clear {
	clear: both;
}

#photo {
	margin: 0 auto;
	clear: both;
	position: relative;
	z-index: 0;
}
#photo .Cont {
	width: 955px;
	margin: 0 auto;
	overflow: hidden;
	clear: both;
	background: #fff;
}
#photo .ScrCont {
}
#photo .List1, .List2 {
	width: 915px;
	height: 75px;
	float: left;
	overflow: hidden;
}
#photo .List1 div, #photo .List2 div {
	float: left;
}
.prev {
	width: 20px;
	height: 75px;
	line-height: 75px;
	text-align: center;
	color: #999;
	text-decoration: none;
	display: block;
	cursor: pointer;
	background: #eee;
	position: relative;
	z-index: 1;
}
.next {
	width: 20px;
	height: 75px;
	line-height: 75px;
	text-align: center;
	color: #999;
	text-decoration: none;
	display: block;
	cursor: pointer;
	background: #eee;
	position: relative;
	z-index: 99;
}
#photo .List1 div img, #photo .List2 div a img {
	width: 181px;
	height: 73px;
	display: block;
	border:1px solid #f0f0f0;
}
.re_box .topimg {
	width: 213px;
	height: 185px;
}
.re_box .topimg img {
	width: 213px;
	height: 185px;
}
/*#photo #List1 div a:hover img,#photo #List2 div a:hover img{ border:1px solid #ccc;}*/
#photo .List1 div p, #photo .List2 div p {
	line-height: 18px;
	width: 140px;
	margin: 3px auto 0;
	float: left;
}
.sr_slide {
	width: 765px;
	float: left;
}
.fullSlide {
	width: 765px;
	position: relative;
	height: 350px;
	background: #fff;
}
.fullSlide .bd {
	margin:0 auto;
	position:relative;
	z-index:0;
	overflow:hidden;
}
.fullSlide .bd ul {
	width:100% !important;
}
.fullSlide .bd li {
	width:100% !important;
	height:350px;
	overflow:hidden;
	text-align:center;
}
.fullSlide .bd li a {
	display:block;
	height:350px;
}
.fullSlide .bd li img {
	width: 765px;
	height: 350px;
}
.fullSlide .hd {
	width:100%;
	position:absolute;
	z-index:1;
	bottom:0;
	left:0;
	height:30px;
	line-height:30px;
}
.fullSlide .hd ul {
	text-align:center;
}
.fullSlide .hd ul li {
	cursor:pointer;
	display:inline-block;
	*display:inline;
	zoom:1;
	width:42px;
	height:11px;
	margin:1px;
	overflow:hidden;
	background:#fff;
	filter:alpha(opacity=50);
	opacity:0.5;
	line-height:999px;
}
.fullSlide .hd ul .on {
	background:#ff6600;
}
.fullSlide .prev,.fullSlide .next {
	display:block;
	position:absolute;
	z-index:1;
	top:50%;
	margin-top:-30px;
	left:15%;
	z-index:1;
	width:40px;
	height:60px;
	background:url(images/slider-arrow.png) -126px -137px #000 no-repeat;
	cursor:pointer;
	filter:alpha(opacity=50);
	opacity:0.5;
	display:none;
}
.fullSlide .next {
	left:auto;
	right:15%;
	background-position:-6px -137px;
}
#wp {
	width: 100%;
}
#ft {
	width: 960px !important;
	margin: 0 auto;
}
.nav_list ul li.lbtn {
	display: list-item !important;
}
.nav_list .boxdown{           
	cursor: pointer;
	background: #fff url(images/down.png) no-repeat center;
	padding: 0px 10px;
	height: 32px;
	line-height: 32px;
	display: block;
	color: #333;
	text-decoration: none;
	border-bottom: 1px solid #F0F0F0;
	width: 175px;
}
.nav_list .up{
    cursor:pointer; 
    background: #fff url(images/up.png) no-repeat center;
	padding: 0px 10px;
	height: 32px;
	line-height: 32px;
	display: block;
	color: #333;
	text-decoration: none;
	border-bottom: 1px solid #F0F0F0;   
}
.nav_list .box {
	display: none;
}
.nav_list .showcontent {
	border: 1px solid #e0e0e0;
	display: block;
	left: 195px;
	padding: 15px;
	z-index: 5;
	position: absolute;
	background: #fff;
}
.nav_list .show {
	padding: 10px;
	display: block;
}
.nav_list .show ul li {
	display: block !important;
	float: left;
}
.copyright {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 6px 0;
	background: #fcfcfc;
	border-top: 1px solid #f5f5f5;
	color: #a0a0a0;
	text-align: center;
	margin-top: 15px;
	position: relative;
}
.copyright a {
	color: #a0a0a0;
	text-decoration: none;
}
.copyright a:hover {
	color: #666;
	text-decoration: none;
}
.in_box img {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 6px;
}
.copyright .box_copyright {
	position: absolute;
	top: 0;
	right: 0;
}
.copyright .box_copyright a {
	width: 179px;
	color: #fff;
	background: #ff6600;
	padding: 6px 0;
	display: block;
	text-decoration: none;
}
ul.listmode {
	height: 25px;
	line-height: 25px;
	background: #f0f0f0;
	padding: 5px 0 5px 9px;
	position: absolute;
	top: 1px;
	right: 0;
}
ul.listmode li {
	float: left;
	margin-right: 9px;
}
.helpbar {
    width: 960px;
    clear: both;
    margin: 10px auto;
    height: 155px;
    line-height: 24px;
    color: #8B8B8B;
    background-color: #F9F9F9;
    overflow: hidden;
}
.helpbar ul li {
    float: left;
}
.helpbar ul li .h_intro {
    background: url('images/intro.jpg') no-repeat scroll 0% 0% transparent;
    width: 150px;
    padding-left: 28px;
    margin-left: 25px;
}
.helpbar ul li dl dt {
    font-size: 14px;
    font-weight: bold;
    padding: 9px 0px;
}
.helpbar a {
    color: #8C8C8C;
	font-size: 12px;
}
.helpbar ul li .h_rank {
    background: url('images/rank.jpg') no-repeat scroll 0% 0% transparent;
    width: 150px;
    padding-left: 40px;
    margin-left: 15px;
}
.helpbar ul li dl {
    list-style: none outside none;
    margin-top: 17px;
}
.helpbar ul li .h_help {
    background: url('images/help.jpg') no-repeat scroll 0% 0% transparent;
    width: 150px;
    padding-left: 38px;
    margin-left: 8px;
}
.helpbar ul li .h_recommend {
    width: 150px;
    background: url('images/recommend.jpg') no-repeat scroll 0% 0% transparent;
    padding-left: 35px;
    margin-left: 14px;
}
.helpbar ul li .h_join {
    background: url('images/join.jpg') no-repeat scroll 0% 0% transparent;
    width: 120px;
    padding-left: 32px;
}
.friendly_link {
    border: 1px solid #E0E0DB;
    padding: 10px;
    overflow: hidden;
	background: #fff;
}
.friendly_link div {
    border-bottom: 1px dotted #CDCDCD;
    padding-bottom: 5px;
    font-weight: 700;
    color: #999;
}
.friendly_link ul li {
    float: left;
    height: 14px;
    margin: 6px 9px;
}
.friendly_link ul li a {
	font-size: 12px;
}

.nobusinesses {
	width: 715px;
	background: #FFF0E8;
	border: 1px solid #FDB08E;
	padding: 9px 0;
	text-align: center;
	color: #F55732;
}
#pt {
	width: 960px;
	margin: 0 auto !important;
}
.wapbar {
	margin: 15px auto 0 !important;
}
.sr_nav .nav_list ul li.cateon {
	width: 193px;
	height: 30.3px;
	line-height: 30.3px;
	display: block;
	border-right: 2px solid #ff6600;
	text-decoration: none;
	cursor: pointer;
	background: #f0f0f0;
	overflow: hidden;
}
.brand_manage {
	z-index: 999999;
}
.fwinmask {
	z-index: 999999;
}


