html { overflow-y: scroll; }
body {
	margin: 0;
	padding: 0;
	font-family: microsoft yahei, Verdana, Geneva, sans-serif;
	color: #555;
	font-size: 14px;
	background: #f0f0f0;
}
div, ul, li, span, em, i, input, img, p, h1, h2, h3, h4, a {
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	font-style: normal;
	font: normal;
}
.sr_wrapper {
	width: 960px;
	height: auto;
	margin: 0 auto;
}
.sr_wrapper .sr_header {
	position: relative;
	z-index: 6;
}
.sr_wrapper .sr_header .headerbox {
	border-bottom: 1px solid #f0f0f0;
	position: relative;
}
.sr_wrapper .sr_header .headerbox .sr_logo {
	width: 120px;
	height: 120px;
}
.sr_wrapper .sr_header .headerbox .sr_infor {
	width: 695px;
	height: 120px;
	background: #f9f9f9;
}
.sr_wrapper .sr_header .nowe {
	width: 840px !important;
}
.sr_wrapper .sr_header .headerbox .sr_infor .topname {
	height: 55px;
	padding: 10px 15px;
	background: #f9f9f9;
	border-bottom: 1px solid #e0e0e0;
	position: relative;
}
.sr_wrapper .sr_header .headerbox .sr_infor .topname .cn {
	font-size: 26px;
}
.sr_wrapper .sr_header .headerbox .sr_infor span {
	color: #999;
}
.sr_wrapper .sr_header .headerbox .sr_infor .btel {
	height: 45px;
	background: #f1f2f3;
	padding: 0 15px;
	line-height: 45px;
	position: relative;
}
.singletel {
	height: 25px;
	line-height: 25px;
	padding: 3px 15px !important;
	text-align: left;
	margin-right: 15px;
	border: 1px solid #E0E0E0;
	background: #fff;
	margin-top: 6px;
	font-size: 12px;
}
.singletel a {
	text-decoration: none;
	color: #ff6600;
}
.sr_wrapper .sr_header .headerbox .sr_infor .btel .sr_tel i {
	color: #999;
	font-weight: normal;
}
.sr_wrapper .sr_header .headerbox .sr_infor .btel .sr_tel strong {
	color: #ff6600;
	margin-right: 15px;
}
.star {
	float: left;
	padding: 2px;
	position: relative;
	top: 13px;
}
.staroff {
	width: 85px;
	height: 15px;
	background: url(images/star_little.png) no-repeat 0px -15px;
	display: block;
	overflow: hidden;
}
.staron {
	width: 85px;
	height: 15px;
	background: url(images/star_little.png) no-repeat 0 0;
	display: block;
	overflow: hidden;
}
.sr_fuctionbox {
	position: absolute;
	top: 0px;
	right: 15px;
}
.sr_good {
	margin: 6px 0 0 0;
	font-size: 12px;
	float: left;
}
.sr_good a {
	height: 30px;
	line-height: 30px;
	padding: 0 9px 0 29px;
	color: #999;
	text-decoration: none;
	display: block;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	background: #fff url(images/good.png) 9px 10px no-repeat;
}
.sr_good a:hover {
	height: 30px;
	line-height: 30px;
	padding: 0 9px 0 29px;
	color: #999;
	text-decoration: none;
	display: block;
	border: 1px solid #d0d0d0;
	background: #fff;
	border-radius: 5px;
	background: #fff url(images/good_hover.png) 9px 10px no-repeat;
}
.sr_good em {
	font-style: normal;
	color: #ff6600;
}
.sr_wrapper .sr_header .headerbox .sr_infor .topname .qy_rz {
	position: absolute;
	top: 9px;
	right: 15px;
}
.sr_wrapper .sr_header .headerbox .sr_infor .topname .frenling {
	position: absolute;
	top: 39px;
	right: 15px;
	width: 88px;
	height: 25px;
	line-height: 25px;
	background: #f0f0f0;
	text-align: center;
	font-size: 12px;
}
.sr_wrapper .sr_header .headerbox .sr_infor .topname .frenling a {
	color: #666;
}
.sr_wrapper .sr_header .headerbox .sr_infor .adress a {
	text-decoration: none;
	color: #ff6600;
}
.sr_wrapper .sr_header .headerbox .sr_infor .adress a:hover {
	text-decoration: none;
	color: #333;
}
.sr_wrapper .sr_header .headerbox .sr_nav ul {
	width: 900px;
	height: 45px;
	background: #fff;
}
.sr_wrapper .sr_header .headerbox .sr_nav ul li {
	height: 14px;
	line-height: 14px;
	border-right: 1px solid #ebebeb;
	float: left;
	position: relative;
	top: 15px;
	font-size: 14px;
}
.sr_wrapper .sr_header .headerbox .sr_nav ul li a {
	padding: 0 15px;
	height: 29px;
	display: block;
	color: #333;
	text-decoration: none;
}
.sr_wrapper .sr_header .headerbox .sr_nav ul li a:hover {
	color: #333;
	height: 29px;
	display: block;
	text-decoration: none;
	border-bottom: 1px solid #b0b0b0;
	color: #ff6600;
}
.sr_wrapper .sr_header .headerbox .sr_nav ul li a.current {
	color: #333;
	height: 29px;
	display: block;
	text-decoration: none;
	border-bottom: 1px solid #ff6600;
	color: #ff6600;
}
.sr_wrapper .sr_header .headerbox .sr_nav .sr_share {
	text-align: center;
	position: relative;
	z-index: 15;
}
.sr_wrapper .sr_header .headerbox .sr_nav .sr_share .bdshare-button-style0-16 a {
	width: 60px !important;
	height: 45px !important;
	overflow: hidden !important;
	padding: 0 !important;
	margin: 0 !important;
	background: url(images/share.png) no-repeat !important;
}
.sr_wrapper .sr_header .headerbox .sr_nav .sr_share .bdshare-button-style0-16 a:hover {
	width: 60px !important;
	height: 45px !important;
	overflow: hidden !important;
	padding: 0 !important;
	margin: 0 !important;
	background: url(images/share.png) 0 -45px no-repeat !important;
}
.sr_wrapper .sr_slidebox {
	width:960px;
	height:275px;
	margin-top: 15px;
	visibility:hidden;
	overflow:hidden;
	position: relative;
	z-index: 5;
	display: block !important;
}
.sr_wrapper .sr_slidebox .KMSPrefix_sr_slide_image_box {
	position: relative;
	z-index: -999 !important;
}
.sr_wrapper .sr_slidebox .KMSPrefix_sr_slide_image_box img {
	width: 960px;
	height: 275px;
}
.sr_wrapper .sr_acc {
	margin-top: 15px;
}
.sr_wrapper .sr_acc ul#tab {
	font-size: 16px;
}
.sr_wrapper .sr_acc ul#tab li a.al i.icon {
	width: 22px;
	height: 20px;
	float: left;
	background: url(images/icon.png) -28px -65px no-repeat;
	margin-right: 5px;
}
.sr_wrapper .sr_acc ul#tab li.al a:hover i.icon {
	width: 22px;
	height: 20px;
	float: left;
	background: url(images/icon.png) 0px -65px no-repeat;
	margin-right: 5px;
}
.sr_wrapper .sr_acc ul#tab li.on a.al i.icon {
	width: 22px;
	height: 20px;
	float: left;
	background: url(images/icon.png) 0px -65px no-repeat;
	margin-right: 5px;
}
.sr_wrapper .sr_acc ul#tab li a.sl i.icon {
	width: 19px;
	height: 20px;
	float: left;
	background: url(images/icon.png) -28px -89px no-repeat;
	margin-right: 5px;
}
.sr_wrapper .sr_acc ul#tab li.sl a:hover i.icon {
	width: 19px;
	height: 20px;
	float: left;
	background: url(images/icon.png) 0px -89px no-repeat;
	margin-right: 5px;
}
.sr_wrapper .sr_acc ul#tab li.on a.sl i.icon {
	width: 19px;
	height: 20px;
	float: left;
	background: url(images/icon.png) 0px -89px no-repeat;
	margin-right: 5px;
	color: #ff6600;
}
.sr_wrapper .sr_acc ul#tab li a.cl i.icon {
	width: 19px;
	height: 20px;
	float: left;
	background: url(images/icon.png) -28px -111px no-repeat;
	margin-right: 5px;
}
.sr_wrapper .sr_acc ul#tab li.cl a:hover i.icon {
	width: 19px;
	height: 20px;
	float: left;
	background: url(images/icon.png) 0px -111px no-repeat;
	margin-right: 5px;
}
.sr_wrapper .sr_acc ul#tab li.on a.cl i.icon {
	width: 19px;
	height: 20px;
	float: left;
	background: url(images/icon.png) 0px -111px no-repeat;
	margin-right: 5px;
	color: #ff6600;
}
.sr_wrapper .sr_acc ul#tab a {
	color: #999;
	text-decoration: none;
}
.sr_wrapper .sr_acc ul#tab a:hover {
	color: #ff6600;
	text-decoration: none;
}
.sr_wrapper .sr_acc ul#tab li.on a	 {
	color: #ff6600;
	text-decoration: none;
}
.sr_wrapper .sr_acc ul#tab li {
	width: 96px;
	float: left;
	margin-right: 15px;
	border-right: 1px solid #e0e0e0;
	padding-right: 15px;
}
.sr_wrapper .sr_acc #center {
}
.sr_wrapper .sr_acc .acc_box {
	border-top: 1px solid #e0e0e0;
	background: #f5f5f5;
	padding: 15px 0 15px 21.5px;
}
.sr_wrapper .sr_acc ul#tab li .more {

}
.sr_wrapper .sr_acc .acc_box #center {
	position: relative;
}
.sr_wrapper .sr_acc .acc_box #center .cbhd {
	overflow: hidden;
}
.sr_wrapper .sr_acc .acc_box #center ul li {
	width: 218px;
	overflow: hidden;
	float: left;
	background: #fff;
	margin: 15px 15px 0 0;
}
.sr_wrapper .sr_acc .acc_box #center ul li a {
	display: block;
	text-decoration: none;
	color: #333;
	border-bottom: 1px solid #e0e0e0;
}
.sr_wrapper .sr_acc .acc_box #center ul li a:hover {
	display: block;
	text-decoration: none;
	color: #333;
	border-bottom: 1px solid #ff6600;
}
.sr_wrapper .sr_acc .acc_box #center ul li a .b_infor {
	padding: 9px 15px;
}
.sr_wrapper .sr_acc .acc_box #center ul li a .al_tit {
	font-weight: bold;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	word-wrap: normal;
}
.sr_wrapper .sr_acc .acc_box #center ul li a .b_num {
	margin-top: 6px;
	font-size: 12px;
	color: #999;
}
.sr_wrapper .sr_acc .acc_box #center ul li a .sl_tit {
	text-align: center;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.sr_wrapper .sr_acc .acc_box #center .hd {
    position: absolute;
    top: -20px;
    right: 20px;
}
.sr_wrapper .sr_acc .acc_box #center .bd ul {
	overflow: hidden;
}
.sr_wrapper .sr_acc .acc_box #center ul li a .b_price {
	text-align: center;
	font-size: 12px;
	margin-top: 6px;
	color: #ff6600;
}
.sr_wrapper .sr_acc .acc_box #center ul li a .b_price strong {
	color: #ff6600;
}
.sr_wrapper .sr_acc .acc_box #center ul li a .b_price span {
	color: #999;
	text-decoration: line-through;
}
.sr_wrapper .sr_acc .acc_box #center ul li a .b_price em {
	color: #e0e0e0;
}
.sr_wrapper .sr_upimg {
	margin-top: 15px;
}
.sr_wrapper .sr_upimg .upimg_box {
	padding: 15px 0 15px 21.5px;
	border-top: 1px solid #e0e0e0;
	background: #f5f5f5;
	overflow: hidden;
}
.sr_wrapper .sr_upimg .upimg_box ul li {
	float: left;
	font-size: 12px;
	margin: 15px 15px 0 0;
}
.sr_wrapper .sr_upimg .upimg_box ul li a {
	display: block;
	text-decoration: none;
	color: #333;
	overflow: hidden;
	border-bottom: 1px solid #e0e0e0;
}
.sr_wrapper .sr_upimg .upimg_box ul li a:hover {
	display: block;
	text-decoration: none;
	color: #333;
	overflow: hidden;
	border-bottom: 1px solid #ff6600;
}
.sr_wrapper .sr_upimg .upimg_box .upimg_tit {
	font-size: 16px;
	font-weight: bold;
	color: #ff6600;
}
.sr_wrapper .sr_upimg .upimg_box .upimg_tit .ltit i.icon {
	width: 22px;
	height: 20px;
	float: left;
	background: url(images/icon.png) 0 -133px no-repeat;
	margin-right: 5px;
}
.sr_wrapper .sr_upimg .upimg_box .upimg_tit .radd {
	margin-right: 21.5px;
}
.sr_wrapper .sr_upimg .upimg_box .upimg_tit .radd a {
	font-size: 12px;
	text-decoration: none;
	color: #333;
	font-weight: normal;
}
.sr_wrapper .sr_upimg .upimg_box ul li a .bbox {
	padding: 9px;
	background: #fff;
	position: relative;
}
.sr_wrapper .sr_upimg .upimg_box ul li a .box_user {
	position: absolute;
	z-index: 5;
	top: -35px;
}
.sr_wrapper .sr_upimg .upimg_box ul li a .box_user .user_tx {
	background: #fff;
	padding: 5px;
}
.sr_wrapper .sr_upimg .upimg_box ul li a .box_user .user_tx img {
	width: 48px;
	height: 48px;
}
.sr_wrapper .sr_upimg .upimg_box ul li a .box_user .user_name {
	margin: 39px 0 0 9px;
}
.sr_wrapper .sr_upimg .upimg_box ul li a .box_user .user_meta {
	color: #999;
}
.sr_wrapper .sr_upimg .upimg_box ul li a .sr_comm {
	width: 200px;
	border-top: 1px solid #f0f0f0;
	padding-top: 5px;
	margin-top: 20px;
	color: #999;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.sr_comment {
	margin-top: 15px;
}
.sr_comment .cbox {
	padding: 15px 21.5px;
	background: #f5f5f5;
	border-top: 1px solid #e0e0e0;
	overflow: hidden;
}
.sr_comment .cbox .ctit .lct {
	font-size: 16px;
	font-weight: bold;
	color: #ff6600;
}
.sr_comment .cbox .ctit .lct i.icon {
	width: 19px;
	height: 20px;
	background: url(images/icon.png) -29px -133px no-repeat;
	float: left;
	margin-right: 5px;
}
.sr_comment .cbox .ctit .rr a {
	width: 90px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #ff6600;
	display: block;
}
.sr_comment .cbox .ctit .rr a:hover {
	width: 90px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #333;
	display: block;
}
.sr_commain ul li {
	margin-top: 15px;
	overflow: hidden;
	clear: both;
}
.sr_commain ul li .user_avatar {
	width: 48px;
	height: 48px;
	background: #fff;
	padding: 5px;
}
.sr_commain ul li .user_avatar img {
	width: 48px;
	height: 48px;
}
.sr_commain ul li .user_content {
	width: 805px;
	padding: 15px;
	background: #fff;
	border: 1px solid #e9e9e9;
	border-radius: 9px;
	position: relative;
}
.sr_commain ul li .user_content .topmeta {
	padding-bottom: 9px;
	margin-bottom: 9px;
	border-bottom: 1px dotted #e9e9e9;
	overflow: hidden;
}
.sr_commain ul li .user_content .topmeta a {
	color: #ff6600;
	text-decoration: none;
}
.sr_commain ul li .user_content .topmeta span {
	margin-right: 15px;
	color: #999;
}
.sr_commain ul li .user_content .topmeta span em {
	color: #666;
}
.sr_commain ul li .user_content .topmeta .star {
	position: relative;
	top: 2px;
	margin-left: -15px;
	padding: 0px;
	background: none;
}
.sr_wrapper .la {
	width: 0;
    height: 0;
    border-top: 15px solid #e9e9e9;
    border-left: 15px solid transparent;
	position: absolute;
	top: 15px;
	left: -15px;
	z-index: 5;
}
.sr_comment .cbox .report {
	margin-top: 15px;
	background: #fff;
	border: 1px solid #e0e0e0;
	padding: 0 0 15px;
	overflow: hidden;
}
.sr_comment .cbox .report .re_tit {
	color: #999;
	background: #f9f9f9;
	padding: 9px 15px;
}
.sr_comment .cbox .report .re_tit strong {
	color: #ff6600;
}
.sr_comment .cbox .report .input_area {
	padding: 15px;
}
.sr_comment .cbox .report .input_area .user_avatar img {
	width: 48px;
	height: 48px;
}
.sr_comment .cbox .report .text_area {
	width: 785px;
	padding: 15px;
	background: #fff;
	position: relative;
	border: 1px solid #e9e9e9;
	border-radius: 9px;
}
.sr_comment .cbox .report .text_area .t_meta {
	margin-bottom: 9px;
}
.sr_comment .cbox .report .text_area .t_meta a {
	text-decoration: none;
	color: #ff6600;
}
.sr_comment .cbox .report .text_area .inputbox {
	width: 785px;
	overflow: hidden;
}
.sr_comment .cbox .report .text_area .inputbox textarea {
	width: 97.5%;
	height: 100px;
	padding: 9px;
	font-size: 14px;
	font-family: microsoft yahei, Verdana, Geneva, sans-serif;
	border: 1px solid #f0f0f0;
	color: #666;
}
.sr_comment .cbox .report .t_infor .r_star {
	color: #999;
}
.sr_comment .cbox .report .t_infor .star {
	position: relative;
	top: 2px;
	margin-left: 5px;
	padding: 0px;
}
.sr_comment .cbox .c_btn {
	margin: 15px 0 0 72px;;
}
.sr_comment .cbox .c_btn span {
	display: inline-block;
	margin-left: 9px;
	color: #999;
}
.sr_comment .cbox .c_btn input {
	width: 75px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #fff;
	display: inline-block;
	background: #ff6600;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	font-family: microsoft yahei, Verdana, Geneva, sans-serif;
}
.sr_comment .cbox .c_btn a:hover {
	width: 75px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #fff;
	display: inline-block;
	background: #333;
	text-decoration: none;
}
.sr_slidebox .KMSPrefix_sr_slidebox_image_box img {
	width: 960px !important;
	height: 275px !important;
	display: block !important;
}
.sr_slidebox .KMSPrefix_sr_slidebox_button {
	position: relative !important;
	text-align: center !important;
}
.sr_slidebox .KMSPrefix_sr_slidebox_button li {
	width: 9px !important;
	height: 9px !important;
	line-height: 9px !important;
	font-size: 0px !important;
	background: #FFF !important;
	border: none !important;
	color: #666 !important;
	text-align: center !important;
	margin-right: 6px !important;
	font-family: Verdana !important;
	float: none !important;
	border-radius: 10px !important;
	overflow: auto !important;
	display: inline-block !important;
	cursor: pointer !important;
	*display:inline !important;
	*zoom:1 !important;
}
.sr_slidebox .KMSPrefix_sr_slidebox_button li.KMSPrefix_sr_slidebox_focus {
    background: #F60 !important;
    border: none !important;
    color: #000 !important;
    cursor: pointer !important;
}
.sr_slidebox .KMSPrefix_sr_slidebox_button {
	right: 0px !important;
	left: 0px !important;
	bottom: 15px !important;
	position: absolute !important;
	list-style: none !important;
	z-index: 2 !important;
	overflow: hidden !important;
}
.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
}
.modal, .locabox, .sortbox {
	display: none;
	background: #fff;
	overflow: auto;
	z-index: 1001;
	position: absolute;
	width: 900px;
	height: 900px;
	overflow-y: auto;
	padding: 10px;
	overflow: hidden;
	background: url(images/boxbg.png);
	border-radius: 9px;
	-moz-border-radius: 9px;
	-ms-border-radius: 9px;
	-o-border-radius: 9px;
	-webkit-border-radius: 9px;
}
.modal_main {
	width: 900px;
	height: 900px;
	background: #fff;
	border: 1px solid #e0e0e0;
	opacity: 1;
	position: relative;
	z-index: 9999;
}
.main_cc {
	padding: 10px;
}
.main_cc .modal1tit .toptit {
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 9px;
	margin-bottom: 9px;
}
.main_cc .modal1tit .toptit i.icon {
	width: 12px;
	height: 20px;
	float: left;
	background: url(images/icon.png) 0 -155px no-repeat;
	margin-right: 6px;
}
.main_cc .modal1tit .closeBtn {
	position: absolute;
	top: 0px;
	right: 0px;
}
.main_cc .modal1tit .closeBtn a {
	width: 25px;
	height: 26px;
	background: url(images/icon.png) 0 -175px no-repeat;
	display: block;
}
.main_cc .modal1tit .closeBtn a:hover {
	width: 25px;
	height: 26px;
	background: url(images/icon.png) -25px -175px no-repeat;
	display: block;
}
.main_column {
	margin-top: 15px;
	border-top: 1px solid #e0e0e0;
	background: #eee;
	position: relative;
}
.main_column .mc_sidebar {
	width: 160px;
	background: #eee;
	position: absolute;
	left: 0;
}
.main_column .mc_content {
	width: 800px;
	background: #f5f5f5;
}
.main_column .mc_content .mc_cbox {
	padding: 15px 25px;
	background: #f5f5f5;
}
.main_column .mc_content .mc_cbox .mc_tit {
	font-size: 22px;
	color: #999;
	border-bottom: 1px solid #e9e9e9;
	padding-bottom: 9px;
	margin-bottom: 9px;
	overflow: hidden;
}
.main_column .mc_content .mc_cbox .mc_tit strong {
	color: #ff6600;
}
.main_column .mc_content .mc_cbox ul li {
	font-size: 16px;
	margin-bottom: 5px;
	clear: both;
}
.main_column .mc_content .mc_cbox ul li strong {
	color: #959595;
}
.main_column .mc_content .mc_cbox ul li em {
	font-size: 20px;
}
.main_column .mc_content .mc_cbox ul li .mb {
	margin-top: 9px;
	padding-top: 9px;
	border-top: 1px solid #e9e9e9;
}

#portamento_container {float:right; position:relative;}
#portamento_container #mc_wr {float:none; position:absolute;}
#portamento_container #mc_wr.fixed {position:fixed;}
.main_column #mc_wr ul li {
	clear: both;
	border-bottom: 1px solid #fff;
}
.main_column #mc_wr ul li .mcd {
	width: 135px;
	text-align: center;
}
.main_column #mc_wr ul li .mca {
	width: 25px;
	text-align: center;
}
.main_column #mc_wr ul li a {
	width: 160px;
	height: 45px;
	line-height: 45px;
	background: #ddd;
	display: block;
	text-decoration: none;
	color: #333;
}
.main_column #mc_wr ul li a:hover {
	width: 160px;
	height: 45px;
	line-height: 45px;
	background: #ff6600;
	display: block;
	text-decoration: none;
	color: #fff;
}
.main_column #mc_wr ul li a.current {
	width: 160px;
	height: 45px;
	line-height: 45px;
	background: #ff6600;
	display: block;
	text-decoration: none;
	color: #fff;
}
.main_column #mc_wr ul li a.current .mca {
	width: 25px;
	text-align: center;
	background: #a15d15;
}
.main_column #mc_wr ul li a:hover .mca {
	width: 25px;
	text-align: center;
	background: #a15d15;
}
.main_column #mc_wr ul li a .mca {
	width: 25px;
	text-align: center;
	background: #b9b9b9;
	color: #fff;
}
.autofix_sb.fixed {
  position: fixed !important;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  height: 100%;
  overflow:auto;
}

.autofix_sb.fixed.bottom {
  bottom: 0;
  position: absolute !important;
}

.l {
	float: left;
}
.r {
	float: right;
}
.clear {
	clear: both;
}
.sl_box ul li .al_box .altop img {
	width: 218px;
	height: 218px;
}
.sl_box ul {
	overflow: hidden;
}
.sl_box ul li .al_box .sl_tit {
	text-align: center;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.cl_box ul li .al_box .altop img {
	width: 218px;
	height: 218px;
}
.cl_box ul {
	overflow: hidden;
}
.cl_box ul li .al_box .sl_tit {
	text-align: center;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
#cc {
	width: 125px;
	height: auto;
	position: fixed;
	top: 190px;
	_top: expression_r((document.compatMode=="CSS1Compat")?documentElement.scrollTop:document.body.scrollTop);
	_position: absolute;
	left: 50%;
	margin-left: 520px;
}
#cc .cc_box {
	padding: 9px 9px 0 9px;
	background: #fff;
	float:right;
	border: 1px solid #ddd;
}
#cc .cc_box .cp img {
	width: 125px;
	height: 125px;
	overflow: hidden;
}
#cc .cc_box .cp_t {
	font-size: 12px;
	color: #999;
	margin: 5px 0;
	text-align: center;
}
#cc .cc_box .gl_btn {
	padding-bottom: 9px;
}
#cc .cc_box .gl_btn a {
	width: 125px;
	padding: 5px 0;
	background: #ff6600;
	display: block;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}
#cc .cc_box .gl_btn a:hover {
	width: 125px;
	padding: 5px 0;
	background: #333;
	display: block;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
.pager {
	margin-top: 15px;
}
.pg a, .pg strong, .pgb a, .pg label {
    margin-left: 4px;
    padding: 0px 8px;
    height: 26px;
    border: 1px solid #C2D5E3;
    background-color: #FFF;
    background-repeat: no-repeat;
    color: #333;
    overflow: hidden;
    text-decoration: none;
    display: inline-block !important;
	float: none !important;
}
.pg {
    text-align: center !important;
	float: none;
}
#fwin_publisheddlg {
	font-size: 12px !important;
	z-index: 201 !important;
}
.zanwu {
	text-align: center;
	padding: 50px 0px;
	font-size: 16px;
	background: none repeat scroll 0% 0% #FAFAFA;
	margin-top: 15px;
	border: 1px solid #F0F0F0;
	color: #F60;
	font-weight: bold;
}
#newstar span {
	float: left;
	margin: 0px 0px 0px 2px;
}
#newstar span img {
	width: 16px;
	height: 15px;
	overflow: hidden;
}
.brandcard {
	margin: 14px 9px 9px 0px;
	position: relative;
}
.brandcard a.bc img {
	width: 54px;
	height: 18px;
	color: #fff;
	cursor: pointer;
}
.brandcard .bc_box {
	width: 350px;
	position: fixed;
	left: 30%;
	right: 30%;
	margin: auto;
	top: -500px;
	background: #fff;
	line-height: normal !important;
	border: 1px solid #999;
	z-index: 999;
}
.brandcard .bc_tit {
	background: #f5f5f5;
	padding: 9px 15px;
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 15px;
	position: relative;
}
.brandcard .bc_tit i {
	position: absolute;
	top: 13px;
	right: 15px;
	cursor: pointer;
}
.brandcard .bc_tit i img {
	width: 9px;
	height: 9px;
	display: block;
}
.brandcard .bc_con {
	padding: 0 15px 15px 15px;
	color: #666;
}
.brandcard .bc_tit img {
	width: 54px;
	height: 18px;
	display: block;
}
.brandcard .bc_bg {
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.3;
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 99;
	display: none;
	filter:alpha(opacity=30);
}
.sr_wapmain {
	margin: 6px 9px 0px 0px;
	*margin: 6px 9px 0px 0px;
	_margin: 6px 9px 0px 0px;
	padding: 0;
	font-size: 12px;
	float: left;
}
.sr_wapmain ul li {
	padding: 0;
	margin: 0;
	display: inline;
}
.sr_wapmain ul li a {
	width: 105px;
	height: 30px;
	line-height: 30px;
	padding: 0px 5px;
	color: #999;
	text-decoration: none;
	display: block;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	background: #fff;
	text-align: center;
	cursor: pointer;
}
.sr_wapmain ul li a:hover {
	width: 105px;
	height: 30px;
	line-height: 30px;
	padding: 0px 5px;
	color: #999;
	text-decoration: none;
	display: block;
	border: 1px solid #d0d0d0;
	border-radius: 5px;
	background: #fff;
}
.sr_wapmain ul li div#m2 {
	width: 105px;
	height: 105px;
	visibility: hidden;
	padding: 5px;
	background: #fff;
	border: 1px solid #e0e0e0;
	margin-top: 5px;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	z-index: 10;
}
.sr_wapmain div img {
	width: 105px;
	height: 105px;
	overflow: hidden;
}
.sr_follow {
	margin: 6px 9px 0 0;
	font-size: 12px;
	float: left;
}
.sr_follow a {
	height: 30px;
	line-height: 30px;
	padding: 0px 9px;
	color: #fff;
	text-decoration: none;
	display: block;
	border: 1px solid #ff5500;
	border-radius: 5px;
	background: #ff6600;
}
.sr_follow a:hover {
	height: 30px;
	line-height: 30px;
	padding: 0 9px;
	color: #999;
	text-decoration: none;
	display: block;
	border: 1px solid #d0d0d0;
	background: #fff;
	border-radius: 5px;
	background: #fff;
}
.view_more {
	margin-left: 9px;
	color: #999;
}
.view_more  a {
	color: #ff6600;
}
.item_info {
	margin: 15px 0;
	background: #fff;
	border: 1px solid #e0e0e0;
	padding: 9px;
}
.item_info i {
	width: 200px;
	float: left;
	padding: 5px 15px;
	background: #F9F9F9;
	margin: 0px 15px 9px 0px;
}
.item_info .ts {
	padding: 5px 15px;
	width: auto;
	border-top: 1px dashed #F2F2F2;
}
.item_info .sale {
    width: 200px;
    float: left;
    padding: 5px 15px;
    background: #f9f9f9;
    margin: 0px 0px 9px;
}
.item_info strong {
	font-weight: bold;
	color: #ff6600;
}
.ti_tag {
	padding: 5px 15px;
	width: auto;
	border-top: 1px dashed #F2F2F2;
}
.ti_tag span {
	float: left;
	margin-right: 9px;
	color: #ff6600;
	font-size: 12px;
}
.brandview {
	position: absolute;
	right: 25px;
	top: 0px;
	font-size: 14px;
	padding: 9px 9px 7px 9px;
	background: #F60;
	color: #FFF;
	text-align: center;
}
.mc_cbox .cl {
	font-size: 14px;
	width: auto;
	margin: 15px 0px 9px;
	border-radius: 9px;
}
.mc_cbox .cl label {
	padding: 5px 9px;
	border: 1px solid #E0E0E0;
	border-radius: 5px 0px 0px 5px;
	background: #FFF;
}
.mc_cbox .cl span {
	background: #F60;
	color: #FFF;
	padding: 5px 15px;
	border: 1px solid #E50;
	border-radius: 0px 5px 5px 0px;
}
.mc_cbox .cl a {
	color: #fff;
}
#wap_display {
	list-style-type: none;
	position: relative;
	margin: 9px 0px 9px 9px;
}
#wap_display a {
	width: 175px;
	height: 30px;
	line-height: 30px;
	text-decoration: none;
	border: 1px solid #e0e0e0;
	background: #fff;
	display: block;
	text-align: center;
	color: #666;
	font-size: 14px;
}
#wap_display li {
	float: left;
}
#wap_display li ul li {
	width: 175px;
	text-align: center;
	border: 1px solid #e0e0e0;
	border-top: none;
}
#wap_display li ul li img {
	text-align: center;
	padding: 5px 0;
}
#wap_display li a:hover {
	width: 175px;
	height: 30px;
	line-height: 30px;
	color: #666;
	text-align: center;
	display: block;
}
#wap_display li ul {
	list-style-type: none;
	text-align: left;
	left: -999em;
	position: absolute;
	z-index: 6;
}
#wap_display li ul li {
	background: #F6F6F6;
}
#wap_display li.sfhover ul {
	left: 0;
}
.ys_adress {
	width: 650px;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: normal;
}
.ys_map a {
	font-size: 12px;
	color: #ff6600;
}
.al_notit {
	height: 45px;
	line-height: 45px;
	text-align: center;
	color: #999;
}
.brandfavorite {
	font-size: 14px;
	width: auto;
	margin: 15px 0px 9px 9px;
	border-radius: 9px;
}
.brandfavorite .hd {
	padding: 5px 9px;
	border: 1px solid #E0E0E0;
	border-radius: 5px 0px 0px 5px;
	background: #FFF;
}
.brandfavorite .bd {
	background: #666;
	color: #FFF;
	padding: 5px 15px;
	border-radius: 0px 5px 5px 0px;
	border: 1px solid #666;
}
.wrapper-dropdown-3 {
    position: relative;
    cursor: pointer;
    position: relative;
	height: 30px;
	line-height: 30px;
	padding: 0px 9px;
	color: #FFF;
	text-decoration: none;
	display: block;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	background: #FFF;
	cursor: pointer;
	font-size: 14px;
}
.wrapper-dropdown-3 .dropdown {
    position: absolute;
    top: 155%;
    left: 0px;
    right: 0px;
    background: #FFF;
    border-radius: inherit;
    border: 1px solid rgba(0, 0, 0, 0.17);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-weight: normal;
    transition: all 0.5s ease-in 0s;
    list-style: none outside none;
    opacity: 0;
    pointer-events: none;
	text-align: center;
	padding-top: 9px;
	font-size: 14px;
	z-index: 9999;
}
.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 9px 9px 0px 0px;
}
.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #666;
    border-bottom: 1px solid #E6E8EA;
    box-shadow: 0px 1px 0px #FFF inset;
    transition: all 0.3s ease-out 0s;
	text-align: center;
}
.wrapper-dropdown-3:focus .dropdown {
    opacity: 1;
    pointer-events: auto;
}
.wrapper-dropdown-3 .dropdown li img {
	width: 99px;
	height: 99px;
	overflow: hidden;
}
.wd_box {
	position: absolute;
	left: 45px;
	top: -19px;
	width: 0px;
	height: 0px;
	font-size: 0px;
	border-width: 10px;
	border-style: dashed dashed solid;
	border-color: transparent transparent #fff;
}
.wd_bg {
	position: absolute;
	left: 43px;
	top: -23px;
	width: 0px;
	height: 0px;
	font-size: 0px;
	border-width: 12px;
	border-style: dashed dashed solid;
	border-color: transparent transparent #e0e0e0;
}
.timg_xc img {
	width: 218px;
	height: 218px;
	overflow: hidden;
}
.list_tit {
	color: #ff6600;
	font-size: 19px;
	font-weight: bold;
	margin: 9px 0;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 9px;
}
.telshow {
	position: relative;
	z-index: 12;
}
.show {
	position: relative;
	text-align: left;
	margin-right: 15px;
	border: 1px solid #E0E0E0;
	background: #fff;
	margin-top: 6px;
}
.show a { height: 25px; line-height: 25px; padding: 3px 15px; display: block; color:#ff6600; cursor: pointer; }
.show a:hover { text-decoration: none; color: #666; }
.hidden {
	position: absolute;
	left: 0px;
	z-index: 12;
	top: 0px;
	border: 1px solid #e0e0e0;
	border-bottom: none;
	background: #fff;
}
.hidden a { height: 25px; line-height: 25px; padding: 3px 15px; display: block; color:#ff6600; cursor: pointer; border-bottom: 1px solid #f0f0f0; }
.hidden a:hover { border-bottom: 1px solid #ff6600; color: #333; text-decoration: none; }
.show a.add i, .hidden a i {
	color: #999;
}
#telbox{
	margin: 6px 15px 0 0;
	padding: 0;
	z-index: 30;
	height:23px;
}

#telbox li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: 12px microsoft yahei;
	border: 1px solid #e0e0e0;
}
#telbox i {
	color: #999;
}
#telbox li a {
	display: block;
	margin: 0 1px 0 0;
	padding: 3px 15px;
	background: #fff;
	color: #ff6600;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	height: 25px;
	line-height: 25px;
}

#telbox li a:hover {
	background: #ff6600;
	color: #fff;
}
#telbox div {
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #fff;
	border: 1px solid #e0e0e0;
	left: 15px;
}

#telbox div a {
	position: relative;
	display: block;
	margin: 0;
	padding: 3px 15px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background: #fff;
	color: #ff6600;
	font: 12px microsoft yahei;
	cursor: pointer;
	height: 25px;
	line-height: 25px;
}
#telbox a:hover i {
	color: #fff;
}
#telbox div a:hover i {
	color: #666;
}
#telbox div a:hover {
	background: #fff;
	color: #666;
	border-left: 3px solid #ff6600;
	margin-left: -2px;
}
.brand_manage {
	z-index: 15;
}
.fwinmask {
	z-index: 9999 !important;
}
.secodebox .rfm {
	width: auto !important;
	border-bottom: none !important;
}
.secodebox .rfm th {
	padding-right: 10px;
	text-align: right;
	width: auto !important;
}
.mobile_code {
	width: 145px;
	text-align: center;
	background: #fff;
}
.mobile_code .mc_con {
	float: left;
}
.mobile_code .mc_con .mc_ch {
	text-align: center;
	margin: 0px auto;
	width: 120px;
	height: 120px;
}
.mobile_code .mc_con .mc_ch img {
	width: 120px;
	height: 120px;
	display: block;
}
.mc_txt {
	width: 15px;
	padding: 5px;
	float: right;
	background: #fcf6dd;
	color: #ee831f;
	line-height: 15.6px;
	font-size: 12px;
}
.sr_taotie {
	position: relative;
	z-index: 1;
	margin: 10px 10px 0 10px;
}
.sr_taotie a {
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	color: #999;
	display: block;
	text-decoration: none;
	background: #fff;
	padding: 0 6px;
	height: 22px;
	line-height: 22px;
}
.sr_taotie a:hover {
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	color: #999;
	display: block;
	text-decoration: none;
	background: #fff;
	padding: 0 6px;
	height: 22px;
	line-height: 22px;
}
.sr_taotie a img {
	vertical-align: middle;
	margin-right: 6px;
	position: relative;
	top: -2px;
}
.useuser {
	padding: 15px;
	border: 1px solid #e0e0e0;
	overflow: hidden;
	background: #fff;
	margin: 15px 0;
	border-radius: 9px;
}
.useuser ul li {
	float: left;
}
.useuser ul li a {
	border: 1px solid #e0e0e0;
	padding: 2px;
	margin: 6px;
	background: #fff;
	display: block;
}

.gotobuy { float: left; margin-right: 10px; }
.gotolink { float: left; }
.gotolink a {
	width: 156px;
	height: 50px;
	line-height: 50px;
	display: block;
	background: #ff6600;
	color: #fff;
	font-size: 25px;
	text-align: center;
	border-radius: 5px;
}
.gotolink a:hover {
	width: 156px;
	height: 50px;
	line-height: 50px;
	display: block;
	background: #333;
	color: #fff;
	font-size: 25px;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
}
.brand_manage {
	z-index: 999 !important;
}
.seller { position: relative; }
.pay_id { padding: 25px; }
.pay_id .pay_info div { position: relative; margin-bottom: 15px; }
.pay_id .pay_info label { width: 123px; display: inline-block; text-align: right; position: absolute; top: 9px; left: 10px; height: 25; border-right: 1px solid #e0e0e0; padding-right: 10px; }
.pay_id .pay_info input { width: 300px; height: 35px; line-height: 35px; padding: 0 10px 0 155px; border: 1px solid #c0c0c0; border-radius: 5px; }
.pay_id .pay_submit { width: 200px; height: 50px; line-height: 50px; background: #ff6600; font-size: 25px; text-align: center; color: #fff; display: table; border-radius: 9px; font-family: microsoft yahei; margin: 0 auto; margin: 0 auto; }
.pay_id .pay_info label span { color: #ff6600; }
.close_box { position: absolute; top: 0px; right: 0px; font-size: 15px; cursor: pointer; }
.close_box a { width: 30px; height: 30px; line-height: 30px; text-align: center; display: block; background: #f0f0f0; color: #666; }
.close_box a:hover { width: 30px; height: 30px; line-height: 30px; text-align: center; display: block; background: #f0f0f0; color: #666; text-decoration: none; }
.pay_title { padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #e0e0e0; position: relative; font-weight: bold; font-size: 15px; }
.pay_title i { width: 90px; height: 1px; background: #ff6600; position: absolute; bottom: -1px; left: 0px; }
.pay_button { width: 200px; margin: 0 auto; }
.pay_button a { width: 200px; height: 50px; line-height: 50px; background: #ff6600; font-size: 25px; text-align: center; color: #fff; display: inline-block; border-radius: 9px; }
.pay_button a:hover { width: 200px; height: 50px; line-height: 50px; background: #d75600; font-size: 25px; text-align: center; color: #fff; display: inline-block; text-decoration: none; border-radius: 9px; }
.pl_tip { text-align: center; color: #999; margin-top: 15px; }
.pl_tip span { color: #ff6600; }

#floatmenu { display: none !important; }