{template common/header}
<div class="bm cl" id="pt">
<div class="z">
<a title="$_G[setting][bbname]" class="nvhm" href="./">$_G['setting']['bbname']</a><em>&rsaquo;</em>
<a href="plugin.php?id=ljdaka:ranklist">{lang ljdaka:daka1}</a>
</div>
</div>
		<div class="c altw"><div class="alert_info"><!--{if $check}--><p>{lang ljdaka:daka3}</p><!--{elseif !$checksql}--><p>{lang ljdaka:daka4}</p><p><a href="$url">{lang ljdaka:daka5}</a></p><!--{else}--><p>{lang ljdaka:daka6}{$myall}{lang ljdaka:daka7}{lang ljdaka:daka10}{$jljifen2}.</p><p>{lang ljdaka:daka8}$mall.</p><!--{/if}--></div></div>
		
	

{template common/footer}