<div class="tkl" id="btn" data-clipboard-target="h6">
	<h2>{lang zhuzhu_taobao:1t_tkl_htm_1}</h2>
	<h3 id="tkl_tips">{lang zhuzhu_taobao:1t_tkl_htm_2}</h3>
	<h5 id="copy_key" onClick='copyUrl()'>{$model}</h5>
	<h6 style="position: absolute;z-index: -999;font-weight: 300;top: 0;">
		$goods['title']<br />
		{lang zhuzhu_taobao:jump_url_htm_8} : $goods[reserve_price]<br />
		{lang zhuzhu_taobao:1t_index_htm_5} : $goods[zk_final_price]<br />
		{lang zhuzhu_taobao:1t_tkl_htm_1} : {$model}
	</h6>
	<div class="tip_tkl">
		<p>{lang zhuzhu_taobao:1t_tkl_htm_3} <img src="{$img}taobao.png"> {lang zhuzhu_taobao:1t_tkl_htm_4}</p>
		<p>{lang zhuzhu_taobao:1t_tkl_htm_5} <img src="{$img}xu.png"> {lang zhuzhu_taobao:1t_tkl_htm_6}</p>
	</div>
</div>