/* NVBING5APP */
.n5fg_kjfg .large,.n5fg_kjfg .nbg {background: none;}
.n5fg_kjfg .small {background: rgba(0, 0, 0, 0.7);}
.n5fg_kjfg .n5gr_hykj {margin-top:-45px;height: 240px;background: url(kjbg.jpg) no-repeat 0 0;background-size: cover;}
.n5fg_kjfg .n5gr_hykj .hykj_hyxx {position: absolute;left: 15px;top: 100px;}
.n5fg_kjfg .n5gr_hykj .hykj_hyxx .huxx_hyjs p {color: rgba(255, 255, 255, 0.8);}
.n5fg_kjfg .hykj_kjdh li.a {height: 40px;border-bottom: 2px solid #202e2d;}
.n5fg_kjfg .hykj_kjdh li.a a {color: #202e2d;}