<!--{block return}-->
<style>
<!---
.imgTag {padding-left: 0px;}
.imgTag li {
padding: 3px 0;
float: left;
width: 180px;
margin: 0 14px 0 0;
}
.imgTag li a {
display: block;
position: relative;
margin: 0;
height: 110px;
}
.imgTag span {
position: absolute;
left: 0;
right: 0;
bottom: 0;
font-size: 12px;
line-height: 26px;
height: 26px;
background: #000;
opacity: .6;
filter: alpha(opacity=60);
color: #fff;
text-align: center;
width: 100%;
}
.imgTag span.shade {
top: 0;
height: 110px;
display: none;
background: #fff;
}
-->
</style>
<div class="wp cl">
<ul class="imgTag">
	<li><a title="" rel="nofollow" href="#"><img src="http://img.58cdn.com.cn/ui6/index/indexad/hot_car.jpg" height="110"><span>快速卖车好时机</span><span class="shade" style="opacity: 0.3; display: none;"></span></a></li>
	<li><a title="" rel="nofollow" href="#"><img src="http://img.58cdn.com.cn/ui6/index/indexad/hot_canji.jpg" height="110"><span>残疾人招聘绿色通道</span><span class="shade" style="opacity: 0.25826403421475425; display: none;"></span></a></li>
	<li><a title="" rel="nofollow" href="#"><img src="http://img.58cdn.com.cn/ui6/index/indexad/cw_10zui.jpg" height="110"><span>meng宠十宗最</span><span class="shade" style="opacity: 0.000994085159940533; display: none;"></span></a></li>
	<li><a title="" rel="nofollow" href="#"><img src="http://img.58cdn.com.cn/ui6/index/indexad/hot_2014marry.png" height="110"><span>2015咱们结婚吧</span><span class="shade" style="opacity: 0.001846748910729351; display: none;"></span></a></li>
	<li><a title="" rel="nofollow" href="#"><img src="http://img.58cdn.com.cn/ui6/index/indexad/hot_xiaobao.png" height="110"><span>诚信58简单生活</span><span class="shade"></span></a></li>
	<li><a title="" rel="nofollow" href="#"><img src="http://img.58cdn.com.cn/ui6/index/indexad/hot_listed.jpg" height="110"><span>58同城成功登陆纽交所</span><span class="shade"></span></a></li>
</ul>
</div>
<!--{/block}-->