<div class="itemtitle">
	<h3>
		{lang ljdaka:nav_1}
	</h3>
	<ul class="tab1">
		<li <!--{if !$_GET['cache']}-->class="current"<!--{/if}-->><a href="admin.php?action=plugins&operation=config&identifier=ljdaka&pmod=cache"><span>{lang ljdaka:nav_2}</span></a></li>
		<li <!--{if $_GET['cache']=='p_s'}-->class="current"<!--{/if}-->><a href="admin.php?action=plugins&operation=config&do=39&identifier=ljdaka&pmod=cache&cache=p_s"><span>{lang ljdaka:nav_3}</a></li>
		
	</ul>
	
</div>
<a href="admin.php?action=plugins&operation=config&do=39&identifier=ljdaka&pmod=cache&cache=geshihua3&formhash={FORMHASH}"><font color="red"><b>{lang ljdaka:nav_4}</b></font></a><br/><br/><a href="admin.php?action=plugins&operation=config&do=39&identifier=ljdaka&pmod=cache&cache=geshihua4&formhash={FORMHASH}"><font color="red"><b>{lang ljdaka:nav_5}</b></font></a><br/><br/><a href="admin.php?action=plugins&operation=config&do=39&identifier=ljdaka&pmod=cache&cache=huifu5&formhash={FORMHASH}"><font color="red"><b>{lang ljdaka:nav_6}</b></font></a><br/><br/><a href="admin.php?action=plugins&operation=config&do=39&identifier=ljdaka&pmod=cache&cache=huifu6&formhash={FORMHASH}"><font color="red"><b>{lang ljdaka:nav_7}</b></font></a><br/><br/>