		<form id="testform" method="post" autocomplete="off" action="plugin.php?id=exam:manage&pid=$pid&gid=$gid&tab=$tab&eid=$eid&formhash=$_G[formhash]" onsubmit="$('e_textarea').value = wysiwyg ? html2bbcode(getEditorContents()) : $('e_textarea').value; return chk_exam_add_option_form();">
		<input value="$_G[formhash]" name="formhash" type="hidden">
		<table cellpadding="0" cellspacing="0" border=0 class="table-add">
			<tr><td colspan=2 style="padding-top:1px">{eval $editor['textarea']='subject';$editor['value']=$exam['subject'];}<!--{template exam:'.$template.'/common/editor}--></td></tr>
			<tr><th>参考答案:</th><td>
				<ul id="ul_option">
					{eval $i = 0;}
					<!--{loop $exam[data] $k $v}-->
						{eval $c =  chr(65 + $i++);}
						<li><input type="text" class="px option y" name="option[]" value="$v"><label><input type="checkbox" value="$c" class="cb" name="result[]" <!--{if strpos($exam[result],$c)!==false}-->checked<!--{/if}-->><b>$c</b>.</label></li>
					<!--{/loop}-->
				</ul>
				<li><button class="abtn" onclick="exam_add_li(0);return false;">+</button><button class="abtn" onclick="exam_add_li(-1);return false;">-</button></li>
				</td></tr>
			<tr class="line"><th width=60>附加图片:</th><td><input class="px imgw y" name="image" id="image" value="$exam[image]"></td></tr>
			<tr><th colspan=2><a href="javascript:;" onclick="$('note').style.display='block'"><!--{if !trim($exam[note])}-->添加试题解释<!--{else}-->试题解释<!--{/if}--></a></th></tr>
			<tr><td colspan=2><DIV <!--{if !trim($exam[note])}-->style="display:none"<!--{/if}--> id="note">{eval $editor['value']=$exam['note'];$editor['textarea']="note";}<!--{template exam:'.$template.'/common/editor_simple}--></DIV></td></tr>
		</table>
		<input type="submit" id="testsubmit" class="pn pnc pp" style="margin-top:15px" value="确定" onclick="validate_editor_simple(this);return form_check();">
		</form>
		
		<script type="text/javascript">
			editorsimple();
			doane();
			editorsize(0,editorminheight=200)
			
			function form_check(){	
				$('e_textarea').value = wysiwyg ? html2bbcode(getEditorContents()) : $('e_textarea').value;

				//标题
				if($('e_textarea').value.trim()==''){
					showError('标题不能为空');
					return false;
				}
				
				//参考答案
				var result = document.getElementsByName('result[]');
				var result_have = false;
				for(var i=0;i<result.length;i++){
					if(result[i].checked){
						result_have = true;
						result[i].value = String.fromCharCode(65+i);
					}
				}
				if( !result_have){
					showError('参考答案未选定')
					return false;
				}
 	
				//选项
				var option = document.getElementsByName('option[]');
				var options_value_have = false;
				for(var i=0;i<option.length;i++){
					if(option[i].value.replace(/(^\s*)|(\s*$)/g,'')!=''){
						options_value_have = true;
						break;
					}
				}
				if(!options_value_have){
					//showError('选项不能为空')
					//return false;
				}

			}			

			function exam_add_li(mode){
				var ul = $('ul_option').getElementsByTagName('li');
				if(mode==-1){
					if(ul.length>1){
						var last = ul[ul.length-1]
						last.parentNode.removeChild(last); 
					}
				}
				else{
					if(ul.length<=26){
						var new_row_char = String.fromCharCode(65+ul.length);
						var newli = document.createElement('li');
						newli.innerHTML = '<input class="px option y" name="option[]"><label><input type="checkbox" class="cb" name="result[]" value="'+new_row_char+'"><b>'+new_row_char+'</b>.</label>';
						$('ul_option').appendChild(newli);
					}
				}
			}
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
		</script>
