		<form id="testform" method="post" autocomplete="off" action="plugin.php?id=exam:manage&pid=$pid&gid=$gid&tab=$tab&eid=$eid&formhash=$_G[formhash]">
		<input value="$_G[formhash]" name="formhash" type="hidden">
		<table cellpadding="0" cellspacing="0" border=0 class="table-add">
			<tr><td colspan=2 style="padding-top:1px">{eval $editor['textarea']='subject';$editor['value']=$exam['subject'];}<!--{template exam:'.$template.'/common/editor}--></td></tr>
			<tr class="line"><th width=60>参考答案:<br><br><i class="xi1">一行一个</i></th><td><textarea class="px blank_data" name="data">$exam[data]</textarea></td></tr>
			<tr><th width=60>附加图片:</th><td><input class="px imgw y" name="image" id="image" value="$exam[image]"></td></tr>
			<tr><th colspan=2><a href="javascript:;" onclick="$('note').style.display='block'"><!--{if !trim($exam[note])}-->添加试题解释<!--{else}-->试题解释<!--{/if}--></a></th></tr>
			<tr><td colspan=2><DIV <!--{if !trim($exam[note])}-->style="display:none"<!--{/if}--> id="note">{eval $editor['value']=$exam['note'];$editor['textarea']="note";}<!--{template exam:'.$template.'/common/editor_simple}--></DIV></td></tr>
		</table>
		<input type="submit" id="testsubmit" class="pn pnc pp" style="margin-top:15px" value="确定" onclick="validate_editor_simple(this);return form_check();"">
		</form>
		<br><span class="xi2">如果填空题中要求有下拉列表项，那么可将选项用＂|＂连接，并放在大括号里面, 如: 我国的首都是{北京|上海|南京}</span>
				
		<script type="text/javascript">
			editorsimple();
			doane();
			editorsize(0,editorminheight=200)
			
			function form_check()
			{
				$('e_textarea').value = wysiwyg ? html2bbcode(getEditorContents()) : $('e_textarea').value;
			
				if($('e_textarea').value.trim() == ''){
					showError('标题不能为空');return false;
				}
			}
		</script>
