<!--{template common/header_ajax}-->
<h3 class="flb"><em style="overflow:hidden;width:450px;white-space:nowrap;text-overflow:ellipsis;">$exam[subject]</em><span><a href="javascript:;" class="flbc" onclick="$('append_parent').innerHTML=''" title="关闭">关闭</a></span></h3>
<div style="width:550px;min-height:250px;max-height:350px;padding:0 10px 10px;"><div style="width:550px;min-height:250px;max-height:350px;overflow-y:scroll;line-height:26px;font-size:14px">$exam[note]</div></div>
<!--{template common/footer_ajax}-->