<!--编码-->
<tr >
  <td s="1" class="td27 model-1" colspan="2"><span class="vtop rowform">{lang milu_pick:web_charset_type}</span></td>
</tr>

<tr class="noborder" >
  <td class="vtop rowform">{eval echo pickOutput::radio(array('name' => 'charset_type', 'info' => $info,'int_val' => 1, 'lang_type' => 2, 'lang_arr' => array(1 => milu_lang('_auto'), 2 => 'GBK' , 3 => 'UTF8', 4 => 'BIG5')));}</td>
  <td class="vtop tips2" s="1">{lang milu_pick:web_charset_type_notice}</td>
</tr>

<!--编码end-->