<!--{template common/header}-->
<link rel="stylesheet" type="text/css" href="data/cache/style_{STYLEID}_forum_forumdisplay.css?{VERHASH}" />
<link rel="stylesheet" type="text/css" href="source/plugin/exam/image/common.css?{VERHASH}" />
<script type="text/javascript">var formhash = '$_G[formhash]';</script>

<div id="wp" class="wp">
	<div id="pt" class="bm cl">
		<div class="z"><a target="_blank" href="./" class="nvhm" title="首页"></a><em>?</em><a href="plugin.php?id=exam">考试中心</a><em>?</em>手机版
 
		</div>
		<div style="float:right"><!--{template exam:'.$template.'/common/nav}--></div>
	</div>
 
<div id="ct" class="wp cl">
	<div class="mn">
		<div class="phone">
			<div class="qright">
				<div class="qrbox">
					<img class="qrcode" src="source/plugin/exam/image/qrcode.png" ondragstart="return false">
					<span class="url">$mobiurl</span> 
				</div>
				<div class="qrmsg">		
					<p><i>手机版考试中心:</i></p>
					<p><b>随时随地，快速访问</b></p>
					<p>只要手机在手，您都可以快速、方便地进行在线考试答题。</p>
					<p><b>极致优化，畅快"悦"读</b></p>
					<p>独有触屏设计，手机考试也变得赏心悦目，操作自如。</p>
					<p><b>无需安装，直达网址</b></p>
					<p>不需要安装应用，只需要用手机浏览器就可使用。</p>
				</div>
			</div>
			<div class="iphone"><div class="frame"><IFRAME border=0 name='frmphone' marginWidth=0 frameSpacing=0 marginHeight=0 src="plugin.php?id=exam:m&mobile=no&mobi=yes" frameBorder=0 noResize width="100%" scrolling="no" height="100%" vspale="0"></IFRAME></div></div>
		</div>
	</div> 
</div>
</div>
 
 

<!--{subtemplate common/footer}-->