.albumlist .albumleft .goodslist {
	width:720px;
	background-repeat:no-repeat;
	overflow:hidden;
}
.albumlist .albumleft .goodslist .ahd {
	height:48px;
	border-bottom:1px dashed #CDCDCD;
	background:#F6F6F6 url(images/hd21.jpg) 17px;
	background-repeat:no-repeat;
	line-height:54px;
	padding-left:63px;
}
.albumlist .albumleft .goodslist .ahd h1 {
	color:#333333;
}
.albumlist .albumleft .goodslist .ahd h1 span {
	color:#BFBFBF;
	margin-right:6px;
}
.albumlist .albumleft .goodslist .abd {
	padding:0px 0px 0px 7px;
}
.albumlist .albumleft .goodslist .abd .goodsdata {
	zoom:1;
}
.albumlist .albumleft .goodslist .abd .goodsdata li {
	float:left;
	width:130px;
	padding:3px;
	height:217px;
	overflow:hidden;
	margin-right:4px;
	margin-top:12px;
	border:1px solid #FFFFFF;
}
.albumlist .albumleft .goodslist .abd .goodsdata li:hover {
	background-color:#FFF5EC;
	border:1px solid #FFC794;
}
.albumlist .albumleft .goodslist .abd .goodsdata li:hover h1 a {
	color:#0262DF;
}
.albumlist .albumleft .goodslist .abd .goodsdata li .goodsimg {
	width:130px;
	height:130px;
	overflow:hidden;
}
.albumlist .albumleft .goodslist .abd .goodsdata li .goodsimg img {
	width:130px;
	height:130px;
}
.albumlist .albumleft .goodslist .abd .goodsdata li  h1 {
	font-weight:100;
	height:36px;
	line-height:18px;
	overflow:hidden;
	width:130px;
	margin-top:5px;
}
.albumlist .albumleft .goodslist .abd .goodsdata li  h1 a {
	color:#0063DC;
}
.albumlist .albumleft .goodslist .abd .goodsdata li .price {
	height:20px;
	line-height:20px;
	color:#8F8F8F;
}
.albumlist .albumleft .goodslist .abd .goodsdata li .price span {
	text-decoration:line-through;
}
.albumlist .albumleft .goodslist .abd .goodsdata li .minprice {
	color:#8F8F8F;
}
.albumlist .albumleft .goodslist .abd .goodsdata li .minprice span {
	color:#CC0100;
	font-weight:bold;
}

.albumlist .albumleft .goodslist .abd .post_guestbook {
	margin:25px auto;
	width:670px;
	background:#F6F6F6;
}
.albumlist .albumleft .goodslist .abd .post_guestbook .gtitle {
	height:92px;
	background:url(images/gtitle.jpg);
	background-repeat:no-repeat;
}
.albumlist .albumleft .goodslist .abd .post_guestbook .gbottom {
	height:52px;
}
.albumlist .albumleft .goodslist .abd .post_guestbook .tmtitle {
	color:#333333;
	font-weight:bold;
	height:38px;
	width:100px;
}
.albumlist .albumleft .goodslist .abd .post_guestbook .txtinput1 {
	width:382px;
	height:24px;
	line-height:24px;
	border:1px solid #E5E5E5;
	background-color:#FFFFFF;
}
.albumlist .albumleft .goodslist .abd .post_guestbook textarea {
	width:382px;
	height:145px;
	border:1px solid #E5E5E5;
	line-height:20px;
}
.albumlist .albumleft .goodslist .abd .post_guestbook .bitian {
	color:#FF0000;
	margin-right:5px;
}
.albumlist .albumleft .goodslist .abd .post_guestbook .gtixing .bitian2 {
	color:#FF7000;
	font-weight:bold;
	margin-left:20px;
}
.albumlist .albumleft .goodslist .abd .post_guestbook .gtixing .pito {
	border-left:1px solid #888888;
	border-right:1px solid #ffffff;
	width:1px;
}
.albumlist .albumleft .goodslist .abd .post_guestbook .gtixing .bitian {
	color:#FF0000;
	margin-right:10px;
}
.albumlist .albumleft .goodslist .abd .post_guestbook .gsubmit a {
	margin-right:20px;
	margin-top:23px;
	display:block;
	width:177px;
	height:45px;
	background:url(images/gsubmit0.jpg);
	background-repeat:no-repeat;
	cursor:pointer;
}
.albumlist .albumleft .goodslist .abd .post_guestbook .gsubmit a:hover {
	margin-right:20px;
	margin-top:23px;
	display:block;
	width:177px;
	height:45px;
	background:url(images/gsubmit1.jpg);
	background-repeat:no-repeat;
	cursor:pointer;
}
.albumlist .albumleft .goodslist .abd .post_guestbook .mtop20 td{
padding-top:20px;
}

/* star */
.mc_albox {
	width: 960px;
	overflow: hidden;
	margin: 0 auto !important;
}
.ap_cb {
	width: 708px;
	padding: 15px 0 81px 20px;
	background: #F5F5F5;
	border-top: 1px solid #E0E0E0;
	overflow: hidden;
	float: right;
	margin-top: 15px;
}
.ap_cb .mc_tit {
	font-size: 14px;
    color: #666;
    border-bottom: 1px solid #E9E9E9;
    padding-bottom: 9px;
    overflow: hidden;
	margin-right: 20px;
}
.ap_cb .mc_tit strong {
	font-size: 14px;
	font-weight: normal;
}
.ap_cb i {
    width: 22px;
    height: 20px;
    float: left;
    background: url('images/ap_icon.png') 0 2px no-repeat;
    margin-right: 5px;
}
.ap_cb .ap_con {
	margin: 22px auto 0px;
	width: 529px;
	color: #666;
	font-size: 12px;
}
.ap_cb .state-text {
	padding: 5px 9px;
	border: 1px solid #e9e9e9;
	border-left: 3px solid #ff6600;
	background: #fff;
	color: #999;
	margin-top: 25px;
	margin-right: 20px;
}
.ap_cb .state-text span {
	font-size: 16px;
	color: #ff6600;
	margin-right: 9px;
	font-weight: bold;
}
.ap_cb .ap_con .appointment .appointment-content {
	margin-top: 35px;
}
.ap_cb .ap_con .appointment .appointment-content ul li {
    overflow: hidden;
    margin-top: 19px;
}
.ap_cb .ap_con .appointment .appointment-content ul li .input-left {
	width: 75px;
    float: left;
    text-align: right;
    margin-top: 2px;
}
.ap_cb .ap_con .appointment .appointment-content ul li .input-left span {
	color: #ff6600;
}
.ap_cb .ap_con .appointment .appointment-content ul li .input-right .ap_b_text {
	margin: 9px 0 0 90px;;
	float: left;
	color: #999;
}
.ap_cb .ap_con .appointment .appointment-content ul li .input-right span {
	color: #ff6600;
}
.ap_cb .ap_con .appointment .appointment-content ul li .input-right .input-text {
    width: 435px;
    height: 20px;
    float: right;
    text-align: left;
    border: 1px solid #E0E0E0;
    padding: 2px 5px;
    color: #6E6E6E;
}
.ap_cb .ap_con .appointment .appointment-content ul li .input-right .input-content {
    width: 435px;
    height: 150px;
    float: right;
    text-align: left;
    border: 1px solid #E0E0E0;
    resize: none;
    max-width: 435px;
    max-height: 150px;
    margin: 0px;
    padding: 2px 5px;
    font-size: 13px;
    color: #6E6E6E;
}
.ap_cb .ap_con .appointment .appointment-content ul li .input-right .input-code {
    width: 105px;
    height: 20px;
    float: left;
    text-align: left;
    border: 1px solid #E0E0E0;
    color: #6E6E6E;
	padding: 2px 5px;
	margin-left: 6px;
}
.ap_cb .ap_con .appointment .appointment-content ul li .input-right a {
    color: #6E6E6E;
    text-decoration: none;
}
.sr_submit {
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	padding: 15px 0;
	margin-top: 15px;
	text-align: center;
}
.sr_submit a {
    width: 145px;
    height: 39px;
    background: url('images/ap_btn.png') no-repeat;
	display: inline-block;
	cursor: pointer;
}
.sr_submit a:hover {
    width: 145px;
    height: 39px;
    background: url('images/ap_btn.png') 0 -39px no-repeat;
	display: inline-block;
	cursor: pointer;
}
.submit-text {
	margin: 15px 0;
	color: #999;
	text-align: center;
}
.submit-text span {
	color: #ff6600;
}
.al_sidebar {
	margin: 15px 0;
}

/* end */