<!--{subtemplate common/header}-->
<div class="tm_c" id="floatlayout_topicadmin">
	<h3 class="flb" style="border-bottom: 1px solid #CCC;background: #F2F2F2;">
		<em id="return_setrecpost">&#x4EC5;&#x7BA1;&#x7406;&#x5458;&#x53EF;&#x89C1;</em>
		<span>
			<a href="javascript:;" class="flbc" onclick="hideWindow('faq')" title="{lang close}">{lang close}</a>
		</span>
	</h3>
	<div class="c" style="text-align:center;">
		<div style="display:none;">http://www.xhkj5.com/</div>
		<a href="http://www.xhkj5.com" onclick="hideWindow('faq')" target="_blank" style="color:red;font-size:35px">&#x95EE;&#x9898;&#x53CD;&#x9988;</a>
	</div>
	<p class="o pns">
	<span style="float:left;font-size: 0.83em;color: #D2D2D1;">Powered by <a href="http://www.xhkj5.com/" target="_blank" style="color:#D2D2D1;" title="&#35759;&#24187;&#32593;">&#35759;&#24187;&#32593;</a> </span>
	</p>
</div>
<!--{subtemplate common/footer}-->