<!--{block sreturn}-->
<style type="text/css">
.forumnamebar{background:#FEF7F4;height:39px;width:760px;margin:0 auto;}
.forumnamebar .nleft{background:url(source/plugin/sanree_brand_signature/template/images/s_left1.jpg); width:105px; height:39px; float:left;}
.forumnamebar .nright{ border-top:1px solid #DDCEC4;border-right:1px solid #DDCEC4;border-bottom:1px solid #DDCEC4;height:37px;float:left; width:654px}
.forumnamebar .nright .ntitle{color:363230; font-size:14px; font-weight:bold; margin-left:10px;}
.forumnamebar .nright .ntel{color:#FF6E00; font-size:18px; font-weight:bold}
.forumnamebar .nright .ngoto a{ display:block;background:url(source/plugin/sanree_brand_signature/template/images/s_goto.jpg); width:107px; height:24px;}
.forumnamebar .nright .ngoto a:hover{ display:block;background:url(source/plugin/sanree_brand_signature/template/images/s_goto1.jpg); width:107px; height:24px;}
</style>
<div class="forumnamebar" onmousemove="this.background='#00ff00'">
  <div class="nleft"></div>
  <div class="nright">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td height="37"><span class="ntitle"><a href="{$brandresult['brand_url']}">{$brandresult['brand_name']}</a></span></td>
        <td width="203"><img src="source/plugin/sanree_brand_signature/template/images/s_ntel.jpg" border="0" align="absmiddle" /> <span class="ntel">{$brandresult['brand_tel']}</span></td>
        <td align="center" width="118" class="ngoto"><a href="{$brandresult['brand_url']}"></a></td>
      </tr>
    </table>
  </div>
</div>
<!--{/block}-->