<!--{block returns}-->
<script type="text/javascript" src="./source/plugin/mxi_aplay/jplayer/jquery.min.js"></script>
<script type="text/javascript">jQuery.noConflict();var mxi_aplay_DIR='/source/plugin/mxi_aplay/';</script>
<script type="text/javascript" src="./source/plugin/mxi_aplay/jplayer/jquery.jplayer.min.js"></script> 
<link rel="stylesheet" type="text/css" href="./source/plugin/mxi_aplay/jplayer/jplayer.css?{VERHASH}" />
<script type="text/javascript" src="./source/plugin/mxi_aplay/jplayer/swfobject.js?{VERHASH}"></script>
<!--{/block}-->