


{eval $_navs = lev_module::ismodule2('x_selects', 'x_navs', array($_PLG[vdtype], $PLURL.':levckplayer&k='));}

<div class="leftnav_vd">
{$_navs}
<!--<ul class="levhtmla levhtmla-0">
<li><a {if $vdtp =='v.qq'}class='hor'{/if} href="plugin.php?id=levckplayer:levckplayer&k=v.qq">{$lev_lang[vqq]}</a></li>
<li><a {if $vdtp =='v.qq.xs'}class='hor'{/if} href="plugin.php?id=levckplayer:levckplayer&k=v.qq.xs">{$lev_lang[vqqxs]}</a></li>
<li><a {if $vdtp =='v.qq.movie'}class='hor'{/if} href="plugin.php?id=levckplayer:levckplayer&k=v.qq.movie">{$lev_lang[vqqmovie]}</a></li>
</ul>-->
</div>