  <div class="jy_con_right">
    <div class="jy_con_right_a">
      <div class="jy_con_right_aa">
        <ul>
          <a href="plugin.php?id=csu_guarantee&item=new" title="&#x521B;&#x5EFA;&#x65B0;&#x4EA4;&#x6613;" target="_blank">&#x521B;&#x5EFA;&#x65B0;&#x4EA4;&#x6613;</a>
        </ul>
      </div>
      <div class="jy_con_right_ab">
        <h2></h2>
<ul>
{$var['sale']}%&#x4E2D;&#x4ECB;&#x8D39;  &#x5B89;&#x5168; &#x4FBF;&#x6377; &#x9AD8;&#x6548;
</ul>
      </div>
    </div>
    <div class="clear"></div>
    <div class="jy_con_right_b">
      <ul>
        <li style="float:left;"> <font color=blue>3&#x79D2;&#x5373;&#x53EF;&#x53D1;&#x8D77;&#x4EA4;&#x6613;,&#x65B0;&#x6CE8;&#x518C;&#x7528;&#x6237;&#x4E5F;&#x53EF;&#x4EE5;</font> <a href=plugin.php?id=csu_guarantee&item=new> <font color=red size=4><strong>[<u>&#x70B9;&#x6B64;&#x521B;&#x5EFA;&#x4EA4;&#x6613;</u>]</strong></font></a>  &#x7136;&#x540E;&#x901A;&#x77E5;&#x5BF9;&#x65B9;&#x5373;&#x53EF;&#x3002;  &#x3010;<a href="plugin.php?id=csu_guarantee&item=buy" target=blank><font color=blue><u>&#x6211;&#x662F;&#x4E70;&#x5BB6;&#x6F14;&#x793A;&#x56FE;</u></font></a>&#x3011;  &#x3010;<a href="plugin.php?id=csu_guarantee&item=sell" target=blank><font color=blue><u>&#x6211;&#x662F;&#x5356;&#x5BB6;&#x6F14;&#x793A;&#x56FE;</u></font></a>&#x3011;</li>
         
      </ul>
    </div>
    <div class=" h8"></div>
    <div class="topADtu"><img src="source/plugin/csu_guarantee/css/a52.jpg" width="700" height="166" /></div>
   
    <div class=" h8"></div>
<div class="jy_con_right_d">
      <ul>
        <li class="dda"><span class="ab">&#x7533;&#x8BF7;&#x65F6;&#x95F4;</span>   <span class="aa">&#x4EA4;&#x6613;&#x7F16;&#x53F7;</span> <span class="af" style="width:350px;">&#x4EA4;&#x6613;&#x8BE6;&#x60C5;</span><span class="ae">&#x64CD;&#x4F5C;</span> </li>{$echo}
                      </ul>
    </div> <div class="jy_con_right_c">
      <ul>
       
<b>{$var['name']}</b> &#x767E;&#x4E07;&#x4F1A;&#x5458;  &#x4E2D;&#x4ECB;&#x4EA4;&#x6613;7&#x4E07;&#x7B14; &#x4E13;&#x6CE8; &#x4E13;&#x4E1A; &#x7AD9;&#x957F;&#x90FD;&#x5728;&#x7528;&#x3002;  <span><a href="{$var['rule']}" target="_blank"><font color=blue>{$var['name']}&#x4EA4;&#x6613;&#x89C4;&#x5219;&#x4EE5;&#x53CA;&#x7EA0;&#x7EB7;&#x53C2;&#x8003;</font></a></span> <span><a href="plugin.php?id=csu_guarantee&item=account" target="_blank"><font color=blue>{$var['name']}&#x6536;&#x6B3E;&#x8D26;&#x6237;</font></span></a><br>
 
 

      </ul>
    </div>   <table width="100%" border="0" cellspacing="0" cellpadding="0" class="jyqb">
  <tr>
    <th colspan="3"><b>{$var['name']}&#x4E0E;&#x5176;&#x4ED6;&#x4EA4;&#x6613;&#x7684;&#x533A;&#x522B;</b></th>
  </tr>
  <tr>
    <td  class="wt">&#x4EA4;&#x6613;&#x533A;&#x522B;</td>
    <td width="344"><span><b>{$var['name']}</b></span></td>
    <td width="295"><b>&#x652F;&#x4ED8;&#x5B9D; &#x8D22;&#x4ED8;&#x901A; &#x5A01;&#x5BA2;&#x7B49;&#x5176;&#x4ED6;&#x4EA4;&#x6613;&#x5E73;&#x53F0;</b></td>
  </tr>
  <tr>
    <td class="wt">&#x4EA4;&#x6613;&#x5185;&#x5BB9;</td>
    <td>&#x4E3B;&#x8981;&#x63D0;&#x4F9B; &#x7F51;&#x7AD9; &#x57DF;&#x540D; &#x4EFB;&#x52A1; &#x6E90;&#x7801;&#x670D;&#x52A1; &#x8D26;&#x6237;</td>
    <td>&#x5B9E;&#x7269;&#x548C;&#x670D;&#x52A1;</td>
  </tr>
  <tr>
    <td class="wt">&#x5B89;&#x5168;&#x6027;</td>
    <td>&#x9AD8; &#xFF08;{$var['name']}&#x5168;&#x7A0B;&#x4ECB;&#x5165;&#xFF09;</td>
    <td>&#x9AD8; &#xFF08;&#x7A0B;&#x5E8F;&#x5316; &#xFF09;</td>
  </tr>
  <tr>
    <td class="wt">&#x4EA4;&#x6613;&#x670D;&#x52A1;</td>
    <td>&#x5168;&#x7A0B;&#x8DDF;&#x8E2A;&#x670D;&#x52A1;&#xFF0C;&#x5305;&#x62EC;&#x57DF;&#x540D;&#x8FC7;&#x6237;&#xFF0C;&#x6570;&#x636E;&#x8F6C;&#x79FB; &#x8D26;&#x6237;&#x5B89;&#x5168;</td>
    <td>&#x7CFB;&#x7EDF;&#x81EA;&#x52A9;&#x670D;&#x52A1;</td>
  </tr>
  <tr>
    <td class="wt">&#x624B;&#x7EED;&#x8D39;</td>
    <td>{$var['sale']}%</td>
    <td>0-20% </td>
  </tr>

  <tr>
    <td class="wt">&#x7EA0;&#x7EB7;&#x5904;&#x7406;</td>
    <td>&#x4EBA;&#x5DE5;qq&#x6216;&#x7535;&#x8BDD;&#x534F;&#x52A9;&#x5904;&#x7406;</td>
    <td>&#x9875;&#x9762;&#x5728;&#x7EBF;&#x63D0;&#x4EA4;</td>
  </tr>
  <tr>
    <td class="wt">&#x7ED3;&#x7B97;&#x65F6;&#x95F4;</td>
    <td>&#x4E00;&#x5929;2&#x6B21;&#x4ED8;&#x6B3E; &#x53CA;&#x65F6;&#x5230;&#x8D26;</td>
    <td>1-3&#x4E2A;&#x5DE5;&#x4F5C;&#x65E5;</td>
  </tr>
  <tr>
    <td class="wt">&#x786E;&#x8BA4;&#x7ED3;&#x675F;</td>
    <td>&#x9700;&#x8981;&#x4E70;&#x5BB6;&#x7684;&#x786E;&#x8BA4;</td>
    <td>7&#x5929;&#x5230;14&#x5929;&#x81EA;&#x52A8;&#x7EC8;&#x6B62;</td>
  </tr>
</table>
    <div class="clear">    </div>
    <div class="jy_con_right_e">
      <ul>
              </ul>
    </div>
  </div>