</div>
<div class="ksdh-cont center">
  <div class="bg-ksdh">
    <ul class="finline caMenu">
     <div style="width:26px; height:77px; background-color:#FFFFFF; float:left;"> <img src="source/plugin/csu_guarantee/css/l.png" width="26" height="77" /> </div>
      <li class="mr-ksdh1"> <a href="plugin.php?id=csu_guarantee:csu_guarantee" title="&#x4E3B;&#x8981;&#x63D0;&#x4F9B;&#x7F51;&#x7AD9;&#x3001;&#x57DF;&#x540D;&#x3001;&#x4EFB;&#x52A1;&#x3001;&#x6E90;&#x7801;&#x670D;&#x52A1;&#x3001;&#x8D26;&#x6237;&#x3001;&#x57DF;&#x540D;&#x7B49;&#x4EA4;&#x6613;"> <span class="caIcon"><img src="source/plugin/csu_guarantee/css/1.png" width="30"></span>
        <div class="caContent">
          <h2 class="caMain">&#x7AD9;&#x957F;&#x4EA4;&#x6613;&#x9996;&#x9009;</h2>
        </div>
        </a> </li>
      <li class="mr-ksdh2"> <a href="plugin.php?id=csu_guarantee:csu_guarantee" title="A5&#x4E2D;&#x4ECB;&#x5168;&#x7A0B;&#x4ECB;&#x5165;&#x4FDD;&#x969C;&#x4EA4;&#x6613;&#x5B89;&#x5168;"> <span class="caIcon"><img src="source/plugin/csu_guarantee/css/2.png" width="30"></span>
        <div class="caContent">
          <h2 class="caMain">&#x4EA4;&#x6613;&#x5B89;&#x5168;&#x9AD8;</h2>
        </div>
        </a> </li>
      <li class="mr-ksdh3"> <a href="plugin.php?id=csu_guarantee:csu_guarantee" title="&#x5168;&#x7A0B;&#x8DDF;&#x8E2A;&#x670D;&#x52A1;&#xFF0C;&#x5305;&#x62EC;&#x57DF;&#x540D;&#x8FC7;&#x6237;&#xFF0C;&#x6570;&#x636E;&#x8F6C;&#x79FB;&#xFF0C;&#x8D26;&#x6237;&#x5B89;&#x5168;"> <span class="caIcon"><img src="source/plugin/csu_guarantee/css/3.png" width="30"></span>
        <div class="caContent">
          <h2 class="caMain">&#x4E2D;&#x4ECB;&#x5168;&#x7A0B;&#x670D;&#x52A1;</h2>
        </div>
        </a> </li>
      <li class="mr-ksdh4"> <a href="plugin.php?id=csu_guarantee:csu_guarantee" title="2%&#x624B;&#x7EED;&#x8D39;"> <span class="caIcon"><img src="source/plugin/csu_guarantee/css/4.png" width="30"></span>
        <div class="caContent">
          <h2 class="caMain">&#x624B;&#x7EED;&#x8D39;&#x7528;&#x6700;&#x4F4E;</h2>
        </div>
        </a> </li>
      <li class="mr-ksdh5"> <a href="plugin.php?id=csu_guarantee:csu_guarantee" title="&#x4EBA;&#x5DE5;qq&#x6216;&#x7535;&#x8BDD;&#x534F;&#x52A9;&#x5904;&#x7406;&#x7EA0;&#x7EB7;"> <span class="caIcon"><img src="source/plugin/csu_guarantee/css/5.png" width="30"></span>
        <div class="caContent">
          <h2 class="caMain">&#x4EBA;&#x6027;&#x5316;&#x7EA0;&#x7EB7;&#x5904;&#x7406;</h2>
        </div>
        </a> </li>
      <li class="mr-ksdh6"> <a href="plugin.php?id=csu_guarantee:csu_guarantee" title="&#x4E00;&#x5929;2&#x6B21;&#x4ED8;&#x6B3E; &#x53CA;&#x65F6;&#x5230;&#x8D26;"> <span class="caIcon"><img src="source/plugin/csu_guarantee/css/6.png" width="30"></span>
        <div class="caContent">
          <h2 class="caMain">&#x591A;&#x6B21;&#x5373;&#x65F6;&#x5230;&#x8D26;</h2>
        </div>
        </a> </li>
      <li class="mr-ksdh7"> <a href="plugin.php?id=csu_guarantee:csu_guarantee" title="&#x9700;&#x8981;&#x4E70;&#x5BB6;&#x7684;&#x786E;&#x8BA4;"> <span class="caIcon"><img src="source/plugin/csu_guarantee/css/7.png" width="30"></span>
        <div class="caContent">
          <h2 class="caMain">&#x5FC5;&#x987B;&#x4E70;&#x5BB6;&#x786E;&#x8BA4;</h2>
        </div>
        </a> </li>
    </ul>
  </div>
</div>
<br />
{subtemplate common/footer}