<style>
.portal_list_main{
	margin:20px auto;
	width:904px;
}
.portal_list_main .dran{
	height:71px;
	width:286px;
	margin:10px auto;
	
	}
.portal_list_main .drana{
	height:71px;
	width:500px;
	margin:30px auto;
	
	}
.portal_list_main ul li {
    float: left;
    padding: 10px 0px;
    width: 465px;
    overflow: hidden;
    margin-right: 15px;
    border: 1px solid #CCC;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    margin-bottom: 20px;
}
.portal_list_main ul li .z {
    width: 120px;
    text-align: center;
}
.z {
    float: left;
}
a {
    color: #333;
    text-decoration: none;
}
.portal_list_main ul li .z img {
    width: 100px;
    max-height: 150px;
    vertical-align: middle;
}
.portal_list_main ul li .y {
    width: 340px;
}
.y {
    float: right;
}
.portal_list_main ul li .y div {
    overflow: hidden;
    background: url('{HEJIN_PATH}public/allimg/portal_list_main_li_div.jpg') no-repeat scroll left bottom transparent;
    margin-bottom: 10px;
    height: 40px;
    line-height: 35px;
    font-size: 18px;
}
.portal_list_main ul li .y div a {
    text-decoration: none;
}
.portal_list_main ul li .y pre {
    height: 60px;
    overflow: hidden;
}
</style>

<div class="portal_list_main cl">


		<div class="dran"><a href="admin.php?action=plugins&operation=config&do={$_GET['do']}&identifier=hejin_box&pmod=jieguan&model=jieguan&formhash={FORMHASH}"><img src="{HEJIN_PATH}public/hejin/jiaocheng.jpg" alt=""></a></div>
        <div class="jc"><img src="{HEJIN_PATH}public/zlhelp.jpg" alt=""></div>
        <div style="clear:both;"></div>
</div>