#main{text-align: center;}
#main>button{color: #FFF; font-size: 20px; padding: 10px; width: 75%;border:0; border-radius: 2px;}
#view_avatar{display:none;height: 200px; width: 200px; z-index:999;padding:5px;background:rgba(255,255,255,1);box-shadow:0 1px 2px rgba(0,0,0,.3);margin:auto;position:fixed;top:35%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
#view_avatar>img{max-height:200px;max-width:200px}
#view_avatar>a{box-shadow:0 1px 1px rgba(0,0,0,.3);text-align:center;line-height:28px;top:-9px;right:-9px;display:block;width:28px;height:28px;border-radius:50%;color:#FFF;position:absolute;font-size:18px;background:rgba(0,0,0,.85)}
#canvas_preview{display:none}
#canvas_fullscreen{z-index:99;width:100%;height:100%;background:#000;background:#fff;color:#888}
.canvas_lump{position:fixed;top:0;left:0;z-index:8888;width:100%}
.canvas_top{position:relative;display:block;overflow:hidden;padding:0 64px;height:44px;background:#f9f9f9;color:#000;text-align:center;text-overflow:ellipsis;white-space:nowrap;font-size:18px;line-height:44px}
.canvas_top>a.cancel{position:absolute;left:10px;width:44px;color:#FD3F3F;text-align:left;font-size:18px;line-height:44px}
.canvas_top>span{position:absolute;right:6px;bottom:1px}
.canvas_top>span button{display:inline-block;width:54px;border:none;color:#FFF;font-size:18px;padding:4px 5px;background-color:#53C558;border-radius:3px;margin-bottom:1px}
.canvas_top{position:relative;display:block;overflow:hidden;padding:0 64px;height:44px;background:#fff;color:#000;text-align:center;text-overflow:ellipsis;white-space:nowrap;font-size:20px;line-height:44px;-o-text-overflow:ellipsis}
.hidden{overflow:hidden!important}
.hide{display:none}
.show{display:block}
.canvas_edit{position:fixed;top:48px;left:0;z-index:101;width:100%;height:100%;background:#e9e9e9;opacity:.9}
#canvas_area{top:-10%;z-index:3;margin:0 auto;margin-bottom:20px;height:100%;background:#000}
#canvas_view{position:fixed;top:40%;left:9.375%;background:#dcdcdc}
.canvas_lazy_tip{position:absolute;top:40%;z-index:101;width:100%;text-align:center;font-size:25px;line-height:30px}
.canvas_lazy_tip .spinner{width:70px;height:70px;margin:0 auto;background-color:#FFF;border-radius:100%;-webkit-animation:scaleout 1s infinite ease-in-out;animation:scaleout 1s infinite ease-in-out}
@-webkit-keyframes scaleout{0%{-webkit-transform:scale(0)}
100%{-webkit-transform:scale(1);opacity:0}
}
@keyframes scaleout{0%{transform:scale(0);-webkit-transform:scale(0)}
100%{transform:scale(1);-webkit-transform:scale(1);opacity:0}
}
.canvas_lazy_cover{position:fixed;top:0;left:0;z-index:100;width:100%;height:100%;background-color:#000;font-size:25px;opacity:.7}
.canvas_opera{position:fixed;bottom:52px;z-index:10;width:100%;background:#000;text-align:right;line-height:44px}
#canvas_fullscreen .z_in{top:0;z-index:8888}
.canvas_opera button{width:24%;outline:0;border:1px solid #000;background:#000;color:#cdcdcd;text-align:center; float:left;}
.canvas_opera button>i{font-size:32px}
.canvas_opera button:nth-child(3)>i,.canvas_opera button:nth-child(4)>i{font-size:30px;font-weight:400}

