.sanree_brand_maps{
	clear:both;
	background:#FFFFFF;
	width:100%;
	margin:0;
	overflow:hidden;
}
.clearmaps{
clear:both;
}
.sanree_brand_maps .jtop{
	overflow:hidden;
	border-bottom:1px solid #E7E7E7;
	clear:both;
}
.sanree_brand_maps .jtop .sort{
	width:100%;
	height:39px;
	border-top:4px solid #397BEC;
	border-bottom:1px solid #E7E7E7;
	background:#F8F8F8;
}
.sanree_brand_maps .jtop .sort ul li{
	list-style:none;
}
.sanree_brand_maps .jtop .sort ul li a:link{
	color:#747474;
	text-decoration:none;
}
.sanree_brand_maps .jtop .sort ul li a:hover{
	text-decoration:underline;
}
.sanree_brand_maps .jtop .sort ul li a:visited{
	color:#747474;
	text-decoration:none;
}
.sanree_brand_maps .jtop .sort ul .ordertimeon,
.sanree_brand_maps .jtop .sort ul .orderrecommendon,
.sanree_brand_maps .jtop .sort ul .orderdiscounton,
.sanree_brand_maps .jtop .sort ul .orderclickon,
.sanree_brand_maps .jtop .sort ul .orderexponenton,
.sanree_brand_maps .jtop .sort ul .orderviewon{
	color:#444444;
	font-weight:bold;
	padding:12px 0px 0px 15px;
	width:41px;
	height:27px;
	background:#EDEDED;
	float:left;
}
.sanree_brand_maps .jtop .sort ul{
	float:left;
	zoom:1;
	width:100%;
}
.sanree_brand_maps .jtop .sort ul .opt{
	padding:12px 0px 0px 20px;
	width:44px;
	height:27px;
	border-left:1px solid #EDEDED;
	float:left;
}
.sanree_brand_maps .jtop .sort ul .nsearch{
	padding-top:5px;
	float:right;
	margin-right:10px;
}
.sanree_brand_maps .jtop .sort ul ordertimeon{

}

.sanree_brand_maps .jtop .sort ul .cata_show{
	cursor:pointer;
	color:#434343;
	width:29px;
	height:24px;
	float:right;
	background:url(images/show.jpg) 0px 3px no-repeat;
	padding:2px 0px 0px 22px;
	margin:10px 6px 0px 0px;
}
.sanree_brand_maps .jtop .sort ul .cata_hidden{
	cursor:pointer;
	color:#434343;
	width:29px;
	height:24px;
	float:right;
	background:url(images/hiden.jpg) 0px 3px no-repeat;
	padding:2px 0px 0px 22px;
	margin:10px 6px 0px 0px;
}
.sanree_brand_maps .jtop .cata{
	width:100%;
	border-top:1px solid #FFFFFF;
	background:#F8F8F8;
	padding-bottom:10px;
}
.sanree_brand_maps .jtop .cata ul{
	zoom:1;
	overflow:hidden;
}
.sanree_brand_maps .jtop .cata ul li{
	list-style:none;
	padding:5px 0px 0px 7px;
	margin:11px 12px 0px 0px;
	width:53px;
	height:18px;
	float:left;
}
.sanree_brand_maps .jtop .cata ul li a:link{
	color:#747474;
	text-decoration:none;
}
.sanree_brand_maps .jtop .cata ul li a:hover{
	text-decoration:underline;
}
.sanree_brand_maps .jtop .cata ul li a:visited{
	color:#747474;
	text-decoration:none;
}
.sanree_brand_maps .jtop .cata ul .a{
	background:#397BEC;
	margin-left:11px;
}
.sanree_brand_maps .jtop .cata ul .a a:link{
	color:#fff;
	text-decoration:none;
}
.sanree_brand_maps .jtop .cata ul .a a:hover{
	text-decoration:underline;
}
.sanree_brand_maps .jtop .cata ul .a a:visited{
	color:#fff;
	text-decoration:none;
}
.sanree_brand_maps .mapsmain{
	width: 100%; 
	border-top:1px solid #FFFFFF;
	margin-top:12px;
}
.sanree_brand_maps .mapsmainquan{
	width: 100%; 
	height: 100%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:9999;
	background:#FFFFFF;
	margin:0px;
}
.sanree_brand_maps .mapsmain .mapsleft{
	height: 100%;
	border:3px solid #E6E7E7;	
}
.sanree_brand_maps .mapsmain .mapsleft .mapbar{
	height: 30px;
	line-height:30px;
	padding-left:10px;
	padding-left:10px;
}
.sanree_brand_maps .mapsmain .mapsleft .mapbar ul{
	height: 30px;
	overflow:hidden;
	zoom:1;
	float:right;
}
.sanree_brand_maps .mapsmain .mapsleft .mapbar ul li{
	float:left;
	line-height:30px;
	height:30px;
	margin-right:10px;
}
.sanree_brand_maps .mapsmain .mapsleft .mapbar ul li a{
	cursor:pointer;
}
.sanree_brand_maps .mapsmain .mapsleft #mapshow{
	width: 100%; 
	height: 100%;
}
.sanree_brand_maps .mapsmain .showInfo{
	width: 100%;
	background:#F8F8F8;
	height:100%;
}
.sanree_brand_maps .showInfo .hd {
	LINE-HEIGHT: 40px; 
	PADDING-LEFT: 15px;
	HEIGHT: 40px; 
	OVERFLOW: hidden;
	color:#717171;
	font-weight:bold;
	font-size:14px;
	border-bottom:1px solid #E7E7E7;
}
.sanree_brand_maps .showInfo .infolist {
    border-top:1px solid #FFFFFF;
	PADDING-BOTTOM: 5px;	
	PADDING-TOP: 2px;
	padding-right:1PX;
}
.sanree_brand_maps .showInfo .infolist DL {
	BORDER-BOTTOM: #D1D1D1 1px dashed; 
	HEIGHT: 110px; 
	OVERFLOW: hidden;
	PADDING-LEFT: 10px;	
	PADDING-RIGHT: 10px; 
}
.sanree_brand_maps .showInfo .infolist DL:hover{
	background:#F0F0F0;
}
.sanree_brand_maps .showInfo .infolist DL DT {
	TEXT-ALIGN: center; 
	LINE-HEIGHT: 26px; 
	WIDTH: 30px; 
	BACKGROUND: url(images/icon3.gif) no-repeat center 5px; 
	FLOAT: left; 
	COLOR: #fff; 
	FONT-SIZE: 14px; 
	FONT-WEIGHT: bold;	
}
.sanree_brand_maps .showInfo .infolist DL DD {
	LINE-HEIGHT: 18px; PADDING-LEFT: 5px; WIDTH: 200px; FLOAT: left; PADDING-TOP: 5px;
	overflow:hidden;
}
.sanree_brand_maps .showInfo .infolist DL DD DIV {
	HEIGHT: 18px; OVERFLOW: hidden
}
.sanree_brand_maps .showInfo .infolist DL DD DIV.t{
	padding-bottom:10px;
	padding-top:1px;
	word-wrap:normal;
	white-space:nowrap;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis;		
}
.sanree_brand_maps .showInfo .infolist DL DD DIV.t A {
	COLOR: #737373; 
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold
}
.sanree_brand_maps .showInfo .infolist DL DD .nline {
	line-height:25px;
	color:#ABABAB;
	height:25px;
}
.sanree_brand_maps .showInfo .infolist DL DD .nline .catename{
	COLOR: #8A8A8A; 
}
.sanree_brand_maps .showInfo .infolist DL DD .nline .tel{
	COLOR: #FDA300;
	font-weight:bold;
}
.sanree_brand_maps .showInfo .infolist DL DD .nline .address{
	COLOR: #8A8A8A; 
}
.sanree_brand_maps .showInfo .infolist .showpage {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px;
	 PADDING-LEFT: 5px; PADDING-RIGHT: 5px;
	 OVERFLOW: hidden; PADDING-TOP: 10px
}
.sanree_brand_maps .showInfo .infolist .showpage span{
margin-left:5px;
margin-right:5px;
}
.sanree_brand_maps .showInfo .infolist .showpage a{
margin-left:5px;
margin-right:5px;
color:#0000FF;
}

.searchbar{
	padding-top:6px;
}
.mmsearchbtn{
	border:none; 
	width:66px;
	height:25px; 
	background:url('images/searbtn.jpg');
	vertical-align:top;
}
.ninputtxt{
	width:280px;
	vertical-align:top;
}
.pg{
	height:auto;
}
