/*源码哥版权，感谢不盗版之恩
联系QQ：208508403
*/
.bm_h {background: #fff;}
.tedt {width:100%;}
.lewei_news .pg a, .pg strong, .pgb a, .pg label {
	margin: 0px!important; 
  margin-left: 3px!important; 
  padding: 0 9px;
}
.pg a, .pg strong, .pgb a, .pg label {}