.lineshow {
	border-bottom:1px dashed #ccc;
	height:35px;
}
.lineshow .ntitle {
	width:90px;
	font-weight:bold;
	text-align:right;
	padding-right:10px;
}
.smessage {
	padding:10px;
	border:1px dashed #C0CED6;
	background-color:#E5EDF2;
	margin:5px 0px 5px 0px;
}
.sanreebtn{
	font-size:700;
	padding-left:10px;
	padding-right:10px;
	line-height:21px;
	width:100px;
}
.sanreechuliok{
	background-color:#f1f1f1;
	border:1px solid #E5EDF2;
}
