<link href="[qianwei:path]source/plugin/player/player.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="[qianwei:path]source/plugin/player/player.js"></script>
<script type="text/javascript" src="[qianwei:userpath]static/swf/v.js"></script>
<script type="text/javascript">
var cmpo;
function cmp_loaded(key) {
	cmpo = CMP.get("cmp");
	if (cmpo) {
		cmpo.addEventListener("model_load", "cmp_model_load");
	}
}
function cmp_model_load(data) {
        var _id = "{_lrc}"+cmpo.item("_id");
        var htm = CMP.create("cmp", "200", "100", "[qianwei:userpath]static/swf/v.swf?php=lrc", {lists:_id}, {wmode:"transparent"});
	document.getElementById("lyric").innerHTML = htm;
}
function sendplayer(_id) {
        var htm = CMP.create("cmp", "440", "100%", "[qianwei:userpath]static/swf/v.swf?php=player", {api:"cmp_loaded",lists:_id}, {wmode:"transparent"});
        document.getElementById("qianweiplayer").innerHTML = htm;
        var playerid = _id.replace(/{song}/g, "");
        if (playerid.match(/\,/g)) {
                playerid = playerid.substr(0, playerid.length-1);
        }
        asyncbox.tips("恭喜，已成功添加"+playerid.split(',').length+"首到播放列表！", "success", 1500);
        var title = $("#btnfold").attr("title");
        if (title=="点击展开") {
                $("#divplayer").addClass("m_player_playing");
        }
        document.getElementById("spanaddtips").style.display = "";
        for (i=1;i<=30;i++) {
                setTimeout("document.getElementById('spanaddtips').style.top = '-"+i+"px';", i*30);
                if (i>29) {
                        setTimeout("document.getElementById('spanaddtips').style.display = 'none';", 1500);
                }
        }
        document.getElementById("divnulllist").style.display = "none";
        document.getElementById("jp-playlist-box").innerHTML = getplayer(playerid);
        document.getElementById("spansongnums").innerHTML = playerid.split(",").length;
}
function songplayer(_id) {
        var htm = CMP.create("cmp", "440", "100%", "[qianwei:userpath]static/swf/v.swf?php=player", {api:"cmp_loaded",lists:_id}, {wmode:"transparent"});
        document.getElementById("qianweiplayer").innerHTML = htm;
}
</script>
<div class="m_player m_player_folded" id="divplayer" style="left: -540px;">
	<div class="m_player_dock" id="qianweiplayer">
		<script type="text/javascript">CMP.write("cmp", "440", "100%", "[qianwei:userpath]static/swf/v.swf?php=player", {lists:""}, {wmode:"transparent"});</script>
	</div>
	<span class="active_tip" id="spanaddtips" style="top: 0px; display: none;"></span>
	<span title="展开播放列表" class="open_list" id="spansongnum1"><span id="spansongnums">0</span></span>
	<span title="显示歌词" class="btn_lyrics_disabled" id="btnlrc"></span>
	<button type="button" class="folded_bt" style="cursor:pointer;" title="点击展开" id="btnfold"></button>
	<div class="play_list_frame" id="divplayframe" style="display: none; opacity: 1;">
		<div class="play_list_title">
			<ul style="width:270px;"><li class="current"><a style="cursor:pointer;">播放列表</a><i></i></li></ul>
			<strong title="收起播放列表" class="close_list" id="btnclose"></strong>
		</div>
		<div class="play_list">
			<div class="play_list_point" id="divnulllist">
				<div><h4>您当前还未添加任何歌曲</h4><br /></div>
			</div>
			<div class="play_list_main">
				<div class="single_list">
				    <ul id="jp-playlist-box"></ul>
				</div>
			</div>
		</div>
	</div>
	<div class="y_player_lyrics" id="player_lyrics_pannel" style="display:none;">
		<div class="lyrics_text" id="lyric"></div>
		<div class="lyrics_bg"></div>
		<span class="close_lyrics" id="closelrcpannel"></span>
	</div>
</div>
<div class="footer clearfix">
  <div class="box">
    <p><font style="color:000;"><a href="mailto:[qianwei:mail]">本站所有音乐均来自互联网搜集，版权为原作者所有，如有侵犯权益，请联系我们删除！</a></font> -- <a href="http://www.miitbeian.gov.cn/" target="_blank">[qianwei:icp]</a> [qianwei:webstat]<br></p>
    <p>Copyright &copy; [qianwei:copytime] <a href="http://[qianwei:weburl]" target="_blank">[qianwei:weburl]</a> .All Rights Reserved. <a href="http://[qianwei:httphost][qianwei:path]" target="_blank">[qianwei:webname]</a> 版权所有</p>
  </div>
</div>