<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>[singer:name] - [singer:area] - [qianwei:webname]</title>
<meta name="Keywords" content="[singer:name]" />
<meta name="Description" content="[singer:name],[qianwei:webname]" />
<link href="[qianwei:tempurl]css/base.css" rel="stylesheet" type="text/css" />
<link href="[qianwei:path]source/plugin/asynctips/asynctips.css" rel="stylesheet" type="text/css" />
<link href="[qianwei:tempurl]css/singerNew.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="[qianwei:tempurl]js/lib.js"></script>
<script type="text/javascript" src="[qianwei:path]source/plugin/asynctips/jquery.min.js"></script>
<script type="text/javascript">var root_url="[qianwei:path]"; var temp_url="[qianwei:tempurl]";</script>
</head>
<body>
<script type="text/javascript" src="[qianwei:tempurl]js/topcommon.js"></script>
<script type="text/javascript" src="[qianwei:path]source/plugin/asynctips/asyncbox.v1.4.5.js"></script>
[qianwei:head]
<div class="navWrap">
<div class="nav clearfix">
  <ul class="navList clearfix">
<li><a href="[qianwei:path]">首 页</a></li>
{qianwei:class loop=1 sort=turn order=asc}<li><a href="[class:link]">好听的歌</a></li>{/qianwei:class}
{qianwei:class classid=5,6,7,8,9,10,11,12 loop=1 sort=turn order=asc}<li><a href="[class:link]">音乐排行榜</a></li>{/qianwei:class}
<li><a href="[qianwei:mod]radio" target="_blank">随心听</a></li>
{qianwei:class classid=2,3,4 loop=1 sort=turn order=asc}<li><a href="[class:link]">淘歌专辑</a></li>{/qianwei:class}
{qianwei:class classid=1}<li><a href="[class:link]">歌手大全</a></li>{/qianwei:class}
<li><a href="[qianwei:mod]diangetai">点歌台</a></li>
{qianwei:videoclass loop=1 sort=turn order=asc}<li><a href="[videoclass:link]">高清MV</a></li>{/qianwei:videoclass}
<li><a href="[qianwei:userpath]">会员中心</a></li>
  </ul>
 </div>
</div>
<div class="box musicBus mt bgWrite">
   <ul class="clearfix directNew">
   {qianwei:class sort=turn order=asc}<li><a class="directName" target="_blank" href="[class:link]">[class:name]</a><a class="directPlay" target="_blank" href="[class:link]"></a></li>{/qianwei:class}
  </ul>
</div>
<div class="box">
 <h2 class="crumb">当前位置 &gt; [singer:area] &gt; [singer:name]</h2>
</div>
<div class="box mb10">
<div class="singerWrap clearfix">
  <div class="singerTop clearfix">
  <div class="t-i"><img src="[singer:pic]"></div>
  <div class="singerInfo">
  <div class="t-t clearfix"><h1>[singer:name]</h1><span class="rankIcon">编号&nbsp;[singer:id]</span><span class="redu">热度：<em>[singer:hits]</em></span></div>
  <div class="i-t">
<p><strong>创建人：</strong>
<a href="[singer:userlink]" target="_blank"><font color=#666666>[singer:user]</font></a>
</p>
<p><strong>所属分类：</strong><a href="[qianwei:singertag][singer:area]" target="_blank">[singer:area]</a>&nbsp;&nbsp;&nbsp;&nbsp;<strong>更新时间：</strong>[singer:time style=Y-m-d]</p>
<p class="singerJiajie"><strong>简介：</strong>[singer:intro len=85]&nbsp;<a href="javascript:{};" class="showJianjie">更多></a></p>
</div>
<div class="clearfix singerBtn"><a href="javascript:void(0)" onclick="qianwei.musicPlayer('{qianwei:music singerid=auto}{song}[music:id],{/qianwei:music}')" class="playSinger" title="全部播放"></a></div>
</div>
<script type="text/javascript">
$(function(){
	$(".showJianjie").click(function(){
		$(".jianjieAll").show();
		$(".closeInfo").show();
		return false;
	});
	$(".closeInfo").click(function(){
		$(".closeInfo").hide();
		$(".jianjieAll").hide();
		return false;
	})
})
</script>
<div class="closeInfo clearfix"><a href="javascript:{};">关闭</a></div>
<div class="jianjieAll">
<p>[singer:intros]</p>
</div>
</div>
<div class="singerNav">
  <ul class="clearfix">
  <li class="singerNav1"><a class="active"><em></em><span>音乐</span></a></li>
  <li class="singerNav2"><a href="javascript:{};"><em></em><span>视频</span></a></li>
  <li class="singerNav4"><a href="javascript:{};"><em></em><span>专辑</span></a></li>
  </ul>
</div>
<script type="text/javascript">
$(function(){
	$(".singerNav1").click(function(){
		$(".singerMusic").show();
		$(".singerNav1").html('<a class="active"><em></em><span>音乐</span></a>');
		$(".mvList").hide();
		$(".singerNav2").html('<a href="javascript:{};"><em></em><span>视频</span></a>');
		$(".albumList").hide();
		$(".singerNav4").html('<a href="javascript:{};"><em></em><span>专辑</span></a>');
		return false;
	});
	$(".singerNav2").click(function(){
		$(".mvList").show();
		$(".singerNav2").html('<a class="active"><em></em><span>视频</span></a>');
		$(".singerMusic").hide();
		$(".singerNav1").html('<a href="javascript:{};"><em></em><span>音乐</span></a>');
		$(".albumList").hide();
		$(".singerNav4").html('<a href="javascript:{};"><em></em><span>专辑</span></a>');
		return false;
	});
	$(".singerNav4").click(function(){
		$(".albumList").show();
		$(".singerNav4").html('<a class="active"><em></em><span>专辑</span></a>');
		$(".singerMusic").hide();
		$(".singerNav1").html('<a href="javascript:{};"><em></em><span>音乐</span></a>');
		$(".mvList").hide();
		$(".singerNav2").html('<a href="javascript:{};"><em></em><span>视频</span></a>');
		return false;
	})
})
</script>
  <form name="form" action="[qianwei:path]play.php?id=" method="get">
  <div class="singerMain">
  <div class="singerMusic clearfix">
  	<ol id="f1">{qianwei:music singerid=auto}<li><input type="checkbox" value="{song}[music:id]" name="Url" class="check"><span class="songNum">[music:i]</span><div class="songName"><a href="[music:link]" target="_blank" class="songNameA">[music:name]</a></div><a class="down" href="[music:downlink]" title="下载" target="_blank">下载</a><a class="add" title="加入列表" onclick="Addplay('{song}[music:id]')">加入列表</a></li>{/qianwei:music}</ol>
    <div class="setPlay"><a style="cursor:pointer;" onclick="javascript:quanxuan('f1');" title="全选/反选" class="setPlayXuan">全选/反选</a><a style="cursor:pointer;" onclick="javascript:lbplay();" title="播放" class="setPlayPlay">播放</a><a style="cursor:pointer;" onclick="javascript:clk('playadd','f1');" title="加入列表" class="setPlayAdd">加入列表</a></div>
  </div>
  <div class="mvList clearfix" style="display:none;">
	<ul class="clearfix">{qianwei:video singerid=auto}<li><a target="_blank" class="t-i" href="[video:link]"><img src="[video:pic]" title="[video:name]"></a><a target="_blank" class="t-t" href="[video:link]">[video:name]</a><div class="i-t"><p>点击：[video:hits]次</p></div></li>{/qianwei:video}</ul>
  </div>
  <div class="albumList clearfix" style="display:none;">
  <ul class="clearfix">{qianwei:special singerid=auto}<li><a target="_blank" href="[special:link]" class="t-i"><img src="[special:pic]" title="[special:name]"></a><a target="_blank" href="[special:link]" class="t-t">[special:name]</a><p class="i-t">发行公司：[special:gongsi]</p></li>{/qianwei:special}</ul>
  </div>
  </div>
  </form>
 </div>
</div>
<script type="text/javascript">
function Addplay(url){
var ifplay= GetCookie("jk_ifplay");
if(ifplay=="1"){
var now = new Date();
var ss = now.getTime();
now.setTime(ss + 12*60*60*1000);
document.cookie = "jk_addplay="+(url)+";domain=[qianwei:weburl];path=[qianwei:path];expires="+ now.toGMTString();
asyncbox.tips("恭喜，已经添加到连续播放列表！", "success", 1500);
}else{if(url.split(",").length-1>1){sendplayer(url);}else{sendplayer(url);}}}
var old="";
function quanxuan(obj){
	if(old!=obj.toString()){
		document.form.reset();
		old = obj.toString();
	}	
	with(document.getElementById(obj)){
		var ins = getElementsByTagName("input");
		for(var i=0;i<ins.length;i++){
				ins[i].checked=!ins[i].checked;
		}
	}
}
function playallquanxuan(obj){
	document.form.reset();
	with(document.getElementById(obj)){
		var ins = getElementsByTagName("input");
		for(var i=0;i<ins.length;i++){
				ins[i].checked=true;
		}
	}
}
function lbplay(){
	var newx="",firstid="";
	var ok=false;
	var lens=eval("document.form.Url").length;
	if(lens==undefined){lens=1}
	if(lens>1){
		for (var i=0;i<lens;i++) 
		{
	
		var temp=eval("document.form.Url["+i+"]");
			if(temp.checked){
				if(temp.value.replace("@","")!=""&&temp.value.replace("@","")!="0"){
					if(firstid=="")firstid=temp.value.replace("@","");
					newx=newx+temp.value.replace("@","")+",";
					ok=true;
				}
			}
		}
	}else{
		ok=true;
		if(document.form.Url.value.replace("@","")!=""&&document.form.Url.value.replace("@","")!="0"){
			newx=document.form.Url.value.replace("@","")+",";
		}
	}
	if(ok){	
		if(newx.length>2009){
			asyncbox.tips("您选择的太多，请保持在60首以内，以便达到最佳效果！", "wait", 1000);
		}else{
			if(newx.split(",").length-1>1)
			window.open("[qianwei:path]play.php?id="+newx+"");
			else
			window.open("[qianwei:path]play.php?id="+newx+"");
		}
	}else{
		asyncbox.tips("请选择后再播放！", "wait", 1000);
	}
}
</script>
[qianwei:bottom]
</body>
</html>