<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>[music:classname] - [qianwei:webname]</title>
<meta name="Keywords" content="[music:classname]" />
<meta name="Description" content="[music:classname],[qianwei:webname]" />
<link href="[qianwei:tempurl]css/base.css" rel="stylesheet" type="text/css" />
<link href="[qianwei:path]source/plugin/asynctips/asynctips.css" rel="stylesheet" type="text/css" />
<link href="[qianwei:tempurl]css/singer.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="[qianwei:tempurl]js/lib.js"></script>
<script type="text/javascript" src="[qianwei:path]source/plugin/asynctips/jquery.min.js"></script>
<script type="text/javascript">var root_url="[qianwei:path]"; var temp_url="[qianwei:tempurl]";</script>
</head>
<body>
<script type="text/javascript" src="[qianwei:tempurl]js/topcommon.js"></script>
<script type="text/javascript" src="[qianwei:path]source/plugin/asynctips/asyncbox.v1.4.5.js"></script>
[qianwei:head]
<div class="navWrap">
<div class="nav clearfix">
  <ul class="navList clearfix">
<li><a href="[qianwei:path]">首 页</a></li>
{qianwei:class loop=1 sort=turn order=asc}<li><a href="[class:link]">好听的歌</a></li>{/qianwei:class}
{qianwei:class classid=5,6,7,8,9,10,11,12 loop=1 sort=turn order=asc}<li><a href="[class:link]">音乐排行榜</a></li>{/qianwei:class}
<li><a href="[qianwei:mod]radio" target="_blank">随心听</a></li>
{qianwei:class classid=2,3,4 loop=1 sort=turn order=asc}<li><a href="[class:link]">淘歌专辑</a></li>{/qianwei:class}
{qianwei:class classid=1}<li><a class="active" href="[class:link]">歌手大全</a></li>{/qianwei:class}
<li><a href="[qianwei:mod]diangetai">点歌台</a></li>
{qianwei:videoclass loop=1 sort=turn order=asc}<li><a href="[videoclass:link]">高清MV</a></li>{/qianwei:videoclass}
<li><a href="[qianwei:userpath]">会员中心</a></li>
  </ul>
 </div>
</div>
<div class="box musicBus mt bgWrite">
   <ul class="clearfix directNew">
   {qianwei:class sort=turn order=asc}<li><a class="directName" target="_blank" href="[class:link]">[class:name]</a><a class="directPlay" target="_blank" href="[class:link]"></a></li>{/qianwei:class}
  </ul>
</div>
<div class="box">
 <h2 class="crumb">当前位置 &gt; [music:classname]</h2>
</div>
<div class="box mt singer_box bgWrite" style="border-top:2px solid #7DC03A;">
<div class="filter">
    <dl class="clearfix">
        <dd>
            <a href="[music:classlink]" class="active">全部</a>
            <a href="[qianwei:singertag]华语歌手">华语歌手</a>
            <a href="[qianwei:singertag]欧美歌手">欧美歌手</a>
            <a href="[qianwei:singertag]日韩歌手">日韩歌手</a>
        </dd>
    </dl>
    <dl class="clearfix">
    	<dd>
            <a href="[qianwei:singertag]A">A</a>
            <a href="[qianwei:singertag]B">B</a>
            <a href="[qianwei:singertag]C">C</a>
            <a href="[qianwei:singertag]D">D</a>
            <a href="[qianwei:singertag]E">E</a>
            <a href="[qianwei:singertag]F">F</a>
            <a href="[qianwei:singertag]G">G</a>
            <a href="[qianwei:singertag]H">H</a>
            <a href="[qianwei:singertag]I">I</a>
            <a href="[qianwei:singertag]J">J</a>
            <a href="[qianwei:singertag]K">K</a>
            <a href="[qianwei:singertag]L">L</a>
            <a href="[qianwei:singertag]M">M</a>
            <a href="[qianwei:singertag]N">N</a>
            <a href="[qianwei:singertag]O">O</a>
            <a href="[qianwei:singertag]P">P</a>
            <a href="[qianwei:singertag]Q">Q</a>
            <a href="[qianwei:singertag]R">R</a>
            <a href="[qianwei:singertag]S">S</a>
            <a href="[qianwei:singertag]T">T</a>
            <a href="[qianwei:singertag]U">U</a>
            <a href="[qianwei:singertag]V">V</a>
            <a href="[qianwei:singertag]W">W</a>
            <a href="[qianwei:singertag]X">X</a>
            <a href="[qianwei:singertag]Y">Y</a>
            <a href="[qianwei:singertag]Z">Z</a>
        </dd>
    </dl>
</div>
</div>
<div class="box mt singer_box bgWrite">
    <ol class="filter_list clearfix">{qianwei:singer pagesize=35 sort=time}
<li><a class="t-i" target="_blank" href="[singer:link]"><img title="[singer:name]" src="[singer:pic]"></a><a href="[singer:link]" class="t-t" target="_blank">[singer:name len=8]</a></li>
    {/qianwei:singer}</ol>
   <div class="loadMore clearfix" id="mypage"><a href="{qianwei:pagedown}" class="loadMoreBtn">---------加载更多歌手---------</a></div> 
  </div>
 </div>
</div>
<div class="footer clearfix">
  <div class="box">
    <p><font style="color:000;"><a href="mailto:[qianwei:mail]">本站所有音乐均来自互联网搜集，版权为原作者所有，如有侵犯权益，请联系我们删除！</a></font> -- <a href="http://www.miitbeian.gov.cn/" target="_blank">[qianwei:icp]</a> [qianwei:webstat]<br></p>
    <p>Copyright &copy; [qianwei:copytime] <a href="http://[qianwei:weburl]" target="_blank">[qianwei:weburl]</a> .All Rights Reserved. <a href="http://[qianwei:httphost][qianwei:path]" target="_blank">[qianwei:webname]</a> 版权所有</p>
  </div>
</div>
</body>
</html>